<!DOCTYPE html>

<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
<head>
    <!-- <link rel = "stylesheet" href="agent_add_view.css"> -->
    <title>Create Assignment</title>
    
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
	<script>
		function openNav() {
			if(document.getElementById("sidebar").style.width=="0%")
			{			
				document.getElementById("sidebar").style.width = "110%";
				document.getElementById("bottom-button").style.width = "110%";
			}
			else{
				document.getElementById("sidebar").style.width = "0%";
				document.getElementById("bottom-button").style.width = "0%";
			}
		}
		
		function checkForm()
        {
            var valid = true;
            
            var ref_id = document.getElementById("ref_id");
            var client_f_name = document.getElementById("client_f_name");
            var client_l_name = document.getElementById("client_l_name");
            var loc_city = document.getElementById("loc_city");
            var loc_region = document.getElementById("loc_region");
            var loc_brgy = document.getElementById("loc_brgy");
            var title_no = document.getElementById("title_no");
			
            //if either field is empty, do not proceed.
            if (ref_id.value == "")
            {
                ref_id.style.backgroundColor = "red";
                valid = false;
            }
            else{
                ref_id.style.backgroundColor = "white";
            }
            if (client_f_name.value == "")
            {
                client_f_name.style.backgroundColor = "red";
                valid = false;
            }
            else{
                client_f_name.style.backgroundColor = "white";
            }
            return valid;
			
            if (client_l_name.value == "")
            {
                client_l_name.style.backgroundColor = "red";
                valid = false;
            }
            else{
                client_l_name.style.backgroundColor = "white";
            }
            return valid;
			
            if (loc_city.value == "")
            {
                loc_city.style.backgroundColor = "red";
                valid = false;
            }
            else{
                loc_city.style.backgroundColor = "white";
            }
            return valid;
			
            if (loc_region.value == "")
            {
                loc_region.style.backgroundColor = "red";
                valid = false;
            }
            else{
                loc_region.style.backgroundColor = "white";
            }
            return valid;
        
			if (loc_brgy.value == "")
            {
                loc_brgy.style.backgroundColor = "red";
                valid = false;
            }
            else{
                loc_brgy.style.backgroundColor = "white";
            }

            if (title_no.value == "")
            {
                title_no.style.backgroundColor = "red";
                valid = false;
            }
            else{
                title_no.style.backgroundColor = "white";
            }
            return valid;
        }
	</script>

	<link rel = "stylesheet" href="agent_add_view.css">	
	<!-- BOOTSTRAP  CHENEZ   AYAWKOANANAJKDBAKJW -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
</head>
<body>
	<nav class="navbar navbar-dark navbar-inverse bgc-super-dark navbar-fixed-top pb-3">
		<div class= "d-inline-block">
			<img src="6227853b83e54f2e94c29519d7c234db (1).jpg" height="72px" class="mx-3">
			
		<div class="openbtn" >
			<a href="#" onclick="openNav()">☰</a>
		</div>

		</div>
		
	</nav>
	
	<div class="container-flex">
		
		<div id="sidebar" class=" d-inline-block h-100">
	       <div class="sidebar-profile ">
				<div class="sidebar-profile-text">
					<p class="sidebar-profile-name">Administrator</p>
					<p class="sidebar-profile-email"><i>{{this.lname}}, {{this.fname}} #{{this.appnum}}</i></p>
					<br>
					<p class="sidebar-profile-email"><i>{{this.email}}</i></p>
					<a class="bgc-none" href="/logout">Log Out</a>
				</div>
			</div>

			<div><a href="/assignments">Assignment Management</a></div>
			
			<div><a href="/admin/accounts">Agent Management</a></div>
			
			<div><a href="/history">History</a></div>
			
			<div><a href="/admin-add-agent">Add New Agent</a></div>
			
			<div><a class="active" href="/admin-add-assignment">Add New Assignment</a></div>
			
        </div>

		<div class ="main d-inline-block main w-75 container-flex">
            <div class="main-header">
                <h1 class="px-4">See All Agents</h1>
                <p class="px-5"><b><i>Admin Panel</b></i></p>
            </div>
			
			<form method="post" action="/assignments" class="mx-auto">
				<div class="table-responsive main-table">
					<table>
                        <tr>
                            <th><label for="ref_id">Reference ID</label></th>
                            <td><input name="ref_id" id="ref_id" type="text" value="{{this.ref_id}}" readonly></td>
                        </tr>
                        <tr>
                            <th><label for="client_f_name">Client First Name</label></th>
                            <td><input name="client_f_name" id="client_f_name" type="text"></td>
                        </tr>
                        <tr>
                            <th><label for="client_l_name">Client Last Name</label></th>
                            <td><input name="client_l_name" id="client_l_name" type="text"></td>
                        </tr>
						<tr>
                            <th><label for="client_contact_num">Client Contact Number</label></th>
                            <td><input name="client_contact_num" id="client_contact_num" type="text"></td>
                        </tr>
						<tr>
                            <th><label for="client_email">Client Email</label></th>
                            <td><input name="client_email" id="client_email" type="text"></td>
                        </tr>
						<tr>
                            <th></th>
                            <th>Lot Location</th>
                        </tr>
						<tr>
                            <th><label for="lot_brgy">Lot Baranggay</label></th>
                            <td><input name="lot_brgy" id="lot_brgy" type="text"></td>
                        </tr>

						<tr>
                            <th><label for="lot_city">Lot City</label></th>
                            <td><input name="lot_city" id="lot_city" type="text"></td>
                        </tr>

                        <tr>
                            <th><label for="lot_region">Lot Region</label></th>
							<td><select id="lot_region" name="lot_region">
								<option value="Region I">Region I (Ilocos Region)</option>
								<option value="Region II">Region II (Cagayan Valley)</option>
								<option value="Region III">Region III (Central Luzon)</option>
								<option value="Region IV">Region IV-A (CALABARZON)</option>
								<option value="Region V">Region V (Bicol Region)</option>
								<option value="Region VI">Region VI (Western Visayas)</option>
								<option value="Region VII">Region VII (Central Visayas)</option>
								<option value="Region VIII">Region VIII (Eastern Visayas)</option>
								<option value="Region IX">Region IX (Zamboanga Peninsula)</option>
								<option value="Region X">Region X (Northern Mindanao)</option>
								<option value="Region XI">Region XI (Davao Region)</option>
								<option value="Region XII">Region XII (SOCCSKSARGEN)</option>
								<option value="NCR">NCR (National Capital Region)</option>
								<option value="CAR">CAR (Cordillera Administrative Region)</option>
								<option value="ARMM">ARMM (Autonomous Region in Muslim Mindanao Region)</option>
								<option value="RXIII">Region XIII (Caraga)</option>
								<option value="MIMAROPA">MIMAROPA</option>
							</select></td>
                        </tr>

                        <tr>
                            <th><label for="lot_size">Lot Size</label></th>
                            <td><input name="lot_size" id="lot_size" type="number">
							SQM
							</td>
                        </tr>
						
						<tr>
                            <th><label for="zonal">Zonal Value</label></th>
                            <td><input name="zonal" id="zonal" type="number">
							</td>
                        </tr>

                        <tr>
                            <th><label for="title_no">Title No</label></th>
                            <td><input name="title_no" id="title_no" type="text">
							</td>
                        </tr>
                    </table>    
                </div>
                    
				<div id="main-table-bottom">
					<button type = "submit" formaction="/submit-assignment" name="save_ass" onsubmit="return checkForm()">Add Assignment</button>
				</div>
            </form>
        </div>
    </div>
</body>
</html>