<!DOCTYPE html>

<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
<head>
    <link rel = "stylesheet" href="agent_ass.css">
    <title>Assignments</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
	<script>
		function openNav() {
			if(document.getElementById("sidebar").style.width=="0%")
			{
				document.getElementById("sidebar").style.width = "110%";
				document.getElementById("bottom-button").style.width = "110%";
			}
			else{
				document.getElementById("sidebar").style.width = "0%";
				document.getElementById("bottom-button").style.width = "0%";
			}
		}
	</script>

</head>
<body>
    <div class="container">
        <div id="sidebar">
            <div class="sidebar-profile">
                <img src="temp_pic.png" width="100" height="100">
                <div class="sidebar-profile-text">
                    <p class="sidebar-profile-name">Agent {{this.username}}</p>
                    <p class="sidebar-profile-email"><i>{{this.email}}</i></p>
                    <a href="/login">Log Out</a>
                </div>
            </div>

            <div class="sidebar-profile-btn">
                <a href="/dashboard">Dashboard</a>
            </div>
            <div class="sidebar-assignments-btn">
                <a  href="/assignments">Assignments</a>
            </div>
            <div class="sidebar-history-btn">
                <a  href="/history">History</a>
            </div>
            <div class="sidebar-settings-btn">
                <a href="/profile">Profile</a>
            </div>
            <div class="bottom-button">
                <a href="/login">Logout</a>
            </div>
        </div>

		<div class="openbtn" >
			<a href="#" onclick="openNav()">☰</a>
		</div>

        <div class="main">
            <div class="main-header">
                <h1>Assignments</h1>
                <p><b><i>You have {{how_many_ongoing}} ongoing assignment(s)!</b></i></p>
                <p>Please confirm immediately to secure the job or it might be reassigned.
                If the assignments is not finished in one week, it will be reopened to all agents week, it will be reopened to all agents.</p>
            </div>

			<form method="get" action="/assignments">
				<div class="main-table">
					<table>
						<tr>
							<th>REF NO.</th>
							<th>DATE OF REQUEST</th>
							<th>CITY, REGION</th>
							<th>ACTION</th>
						</tr>
						<tr>
							<th colspan='4'>New Assignments</th>
						</tr>
			
					{{#each assignment_new}}
						<tr>
							<td><p>{{this.ref_id}}</p></td>
							<td><p>{{this.created_at}}</p></td>
							<td><p>{{this.lot_brgy}}, {{this.lot_city}}, {{this.lot_region}}</p></td>
							<td>
								<div class="main-assignments-status-btns">
										<button type="submit" name="accept" formaction="/accept-assignment/{{ref_id}}">Accept</button>
								</div>
							</td>
						</tr>
					{{/each}}
					
					<tr>
						<th colspan='5'>Assigned Assignments</th>
					</tr>
				
					{{#each assignment_ass}}
						<tr>
							<td><p>{{this.ref_id}}</p></td>
							<td><p>{{this.created_at}}</p></td>
							<td><p>{{this.lot_brgy}}, {{this.lot_city}}, {{this.lot_region}}</p></td>
							<td>
								<div class="main-assignments-status-btns">
									<button type="submit" formaction="/viewAssignment/0/{{ref_id}}">Edit Assignment</button>
								</div>
							</td>
						</tr>
						<tr>
							<th>Admin's Comment:</th>
							<td colspan='3'><p class="left-align">"{{this.comment}}"</p></td>
						</tr>
					{{/each}}
					
					</table>
				</div>
			</form>
        </div>
    </div>
</body>
</html>
