<tr>	<!-- hospital -->
                <th><label>Has nearby Hospital(s)?</label></th>
                <td><input name="hospital" type="checkbox" value="{{this.hospital}}"></td>
                <td><input name="hospital" type="checkbox" value="{{this.hospital1}}">
    <input class="percentage" id="hospital_percent1" name="hospital" type="number" value="{{this.hospital_percent1}}"> %
  </td>
                <td><input name="hospital" type="checkbox" value="{{this.hospital2}}">
    <input class="percentage" id="hospital_percent2" name="hospital" type="number" value="{{this.hospital_percent2}}"> %
  </td>
            </tr>
<tr>	<!-- school -->
  <th><label>Has nearby School(s)?</label></th>
                <td><input name="school" type="checkbox" value="{{this.school}}"></td>
                <td><input name="school" type="checkbox" value="{{this.school1}}">
    <input class="percentage" id="school_percent1" name="school" type="number" value="{{this.school_percent1}}"> %
  </td>
                <td><input name="school" type="checkbox" value="{{this.school2}}">
    <input class="percentage" id="school_percent2" name="school" type="number" value="{{this.school_percent2}}"> %
  </td>
            </tr>
<tr>	<!-- school -->


<tr>	<!-- Improvement -->
                <th><label for="improvement" >Has Improvement(s)?</label></th>
  <td>
    <select id="improvement" name="improvement">
      <option value="Yes">Yes</option>
      <option value="No">No</option>
    </select>
  </td>
  <td>
    <select id="improvement1" name="improvement">
      <option value="Yes">Yes</option>
      <option value="No">No</option>
    </select>
    <input class="percentage" id="improvement_percent1" name="improvement" type="number" value="{{this.improvement_percent1}}"> %
  </td>
  <td>
    <select id="improvement2" name="improvement">
      <option value="Yes">Yes</option>
      <option value="No">No</option>
    </select>
    <input class="percentage" id="improvement_percent2" name="improvement" type="number" value="{{this.improvement_percent2}}"> %
  </td>
            </tr>
