<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
<head>
    <link rel = "stylesheet" href="/agent_edit_doc.css" type="text/css">
    <link rel = "stylesheet" href="/pager0.css" type="text/css" >
	<link rel = "stylesheet" href="/styles.css" type="text/css" >
    <title>Edit Document</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="sidebar-profile">
                <img src="temp_pic.png" width="100" height="100">
                <div class="sidebar-profile-text">
                    <p class="sidebar-profile-name">Agent LastName</p>
                    <p class="sidebar-profile-email"><i>example-mail@xmail.com</i></p>
                    <a href="login.html">Log Out</a>
                </div>
            </div>
            
            <div class="sidebar-profile-btn">
                
                <a href="profile.html">Profile</a>
            </div>
            <div class="sidebar-assignments-btn">
               
                <a  href="assignments.html">Assignments</a>
            </div>
            <div class="sidebar-history-btn">
               
                <a  href="history.html">History</a>
            </div>
            <div class="sidebar-settings-btn">
                
                <a href="settings.html">Settings</a>
            </div>
            
            <div class="bottom-button">
                
                <a href="logout.html">Logout</a>
            </div>
        </div>
    
        <div class="main">
            <div class="main-header">
                <h1>Generate PDF</h1>
            </div>  
            <form class="pdf-form"> <!-- I changed stuff aa, mostly format and form stuff lang -->
                <!-- <div class="main-table" action = "/submit-post" method = "post">dont use this pang create lang to  madodoble ih -->
                <div class="main-table">
                    <table>
                    <tr>
                        <th><label for="filename">Filename</label></th>
                        <td><input type="text" id="filename" name="filename" value="{{this.filename}}" ></td>
                    </tr>
                    <tr>
                        <th><label for="company_name">Company Name</label></th>
                        <td><input type="text" id="company_name" name="company_name" value="{{this.company_name}}" ></td>
                    </tr>
                    <tr>
                        <th><label for="company_address">Company Address</label></th>
                        <td><input type="text" id="company_address" name="company_address" value="{{this.company_address}}" >  </td>
                    </tr>
                    <tr>
                        <th><label for="appraiser_address">Appraiser Address</label></th>
                        <td><input type="text" id="appraiser_address" name="appraiser_address" value="{{this.appraiser_address}}" ></td>
                    </tr>
                    <tr>
                        <th><label for="market_value">Market Value</label></th>
                        <td><input type="text" id="market_value" name="market_value" value="{{this.market_value}}" ></td>
                    </tr>
                    <tr>
                        <th><label for="parcel_id">Parcel ID</label></th>
                        <td><input type="text" id="parcel_id" name="parcel_id" value="{{this.parcel_id}}" ></td>
                    </tr>
                    <tr>
                        <th><label for="improvements">Improvements</label></th>
                        <td><input type="text" id="improvements" name="improvements" value="{{this.improvements}}" ></td>
                    </tr>
                    <tr>
                        <th><label for="zoning_class">Zoning Class</label></th>
                        <td><input type="text" id="zoning_class" name="zoning_class" value="{{this.zoning_class}}" ></td>
                    </tr>
                    <tr>
                        <th><label for="interest_appraised">Interest Appraised</label></th>
                        <td><input type="text" id="interest_appraised" name="interest_appraised" value="{{this.interest_appraised}}" ></td>
                    </tr>

                    <tr>
                        <th><label for="property_identification">Property Identification</label></th>
                        <td><textarea id="property_identification" name="property_identification" value="{{this.property_identification}}" style="width:80%;" rows="10"></textarea></td>
                    </tr>
                    <tr>
                        <th><label for="appraisal_objective_property_rights">Appraisal Objective and Property Rights</label></th>
                        <td><textarea id="appraisal_objective_property_rights" name="appraisal_objective_property_rights" value="{{this.appraisal_objective_property_rights}}" style="width:80%;" rows="10"></textarea></td>
                    </tr>
                    <tr>
                        <th><label for="intended_use_intended_users">Inteded Use and Intended Users</label></th>
                        <td><textarea id="intended_use_intended_users" name="intended_use_intended_users" value="{{this.intended_use_intended_users}}" style="width:80%;" rows="10"></textarea></td>
                    </tr>
                    <tr>
                        <th><label for="effective_date_report">Effective Date of Report</label></th>
                        <td><textarea id="effective_date_report" name="effective_date_report" value="{{this.effective_date_report}}" style="width:80%;" rows="10"></textarea></td>
                    </tr>
                    <tr>
                        <th><label for="statement_ownership_sales_history">Statement of Ownership and Sales History</label></th>
                        <td><textarea id="statement_ownership_sales_history" name="statement_ownership_sales_history" value="{{this.statement_ownership_sales_history}}" style="width:80%;" rows="10"></textarea></td>
                    </tr>
                    <tr>
                        <th><label for="scope_of_work">Scope of Work</label></th>
                        <td><textarea id="scope_of_work" name="scope_of_work" value="{{this.scope_of_work}}" style="width:80%;" rows="10"></textarea></td>
                    </tr>

                    <tr>
                        <th><label for="title_no">Title No.</label></th>
                        <td><input type="text" id="title_no" name="title_no" value="{{this.title_no}}" ></td>
                    </tr>
                    <tr>
                        <th><label for="utilities">Utilities</label></th>
                        <td><input type="text" id="utilities" name="utilities" value="{{this.utilities}}" ></td>
                    </tr>
                    <tr>
                        <th><label for="flood">Flood</label></th>
                        <td><input type="text" id="flood" name="flood" value="{{this.flood}}" ></td>
                    </tr>
                    <tr>
                        <th><label for="easements">Easements</label></th>
                        <td><input type="text" id="easements" name="easements" value="{{this.easements}}" ></td>
                    </tr>
                    <tr>
                        <th><label for="real_estate_taxes">Real Estate Tax</label></th>
                        <td><input type="text" id="real_estate_taxes" name="real_estate_taxes" value="{{this.real_estate_taxes}}" ></td>
                    </tr>
                    <tr>
                        <th><label for="zoning_desc">Zoning Description</label></th>
                        <td><input type="text" id="zoning_desc" name="zoning_desc" value="{{this.zoning_desc}}" ></td>
                    </tr>

                    <tr>
                        <th><label for="description_improvements">Description of Improvements</label></th>
                        <td><textarea id="description_improvements" name="description_improvements" value="{{this.description_improvements}}" style="width:80%;" rows="10"></textarea></td>
                    </tr>
                    <tr>
                        <th><label for="area_development">Area Development</label></th>
                        <td><textarea id="area_development" name="area_development" value="{{this.area_development}}" style="width:80%;" rows="10"></textarea></td>
                    </tr>
                    <tr>
                        <th><label for="market_analysis">Market Analysis</label></th>
                        <td><textarea id="market_analysis" name="market_analysis" value="{{this.market_analysis}}" style="width:80%;" rows="10"></textarea></td>
                    </tr>

                    <tr>
                        <th><label for="highest_best_use">Highest and Best Use</label></th>
                        <td><textarea id="highest_best_use" name="highest_best_use" value="{{this.highest_best_use}}" style="width:80%;" rows="10"></textarea></td>
                    </tr>
                    <tr>
                        <th><label for="legally_permissible">Legally Permissible</label></th>
                        <td><textarea id="legally_permissible" name="legally_permissible" value="{{this.legally_permissible}}" style="width:80%;" rows="10"></textarea></td>
                    </tr>
                    <tr>
                        <th><label for="physical_possibility">Physical Possibility</label></th>
                        <td><textarea id="physical_possibility" name="physical_possibility" value="{{this.physical_possibility}}" style="width:80%;" rows="10"></textarea></td>
                    </tr>
                    <tr>
                        <th><label for="financial_feasibility">Financial Feasibility</label></th>
                        <td><textarea id="financial_feasibility" name="financial_feasibility" value="{{this.financial_feasibility}}" style="width:80%;" rows="10"></textarea></td>
                    </tr>
                    <tr>
                        <th><label for="maximum_productivity">Maximum Productivity</label></th>
                        <td><textarea id="maximum_productivity" name="maximum_productivity" value="{{this.maximum_productivity}}" style="width:80%;" rows="10"></textarea></td>
                    </tr>
                    <tr>
                        <th><label for="conclusion">Conclusion</label></th>
                        <td><textarea id="conclusion" name="conclusion" value="{{this.conclusion}}" style="width:80%;" rows="10"></textarea></td>
                    </tr>
                    <tr>
                        <th><label for="valuation_process">The Valuation Process</label></th>
                        <td><textarea id="valuation_process" name="valuation_process" value="{{this.valuation_process}}" style="width:80%;" rows="10"></textarea></td>
                    </tr>
                    <tr>
                        <th><label for="market_data_approach">Market Data Approach</label></th>
                        <td><textarea id="market_data_approach" name="market_data_approach" value="{{this.market_data_approach}}" style="width:80%;" rows="10"></textarea></td>
                    </tr>

                    <tr>
                        <th><label for="explanation_adjustments">Explanation of Adjustments</label></th>
                        <td><textarea id="explanation_adjustments" name="explanation_adjustments" value="{{this.explanation_adjustments}}" style="width:80%;" rows="10"></textarea></td>
                    </tr>
                    <tr>
                        <th><label for="range_value_per_sqm">Range Value per sqm</label></th>
                        <td><input type="text" id="range_value_per_sqm" name="range_value_per_sqm" value="{{this.range_value_per_sqm}}"></td>
                    </tr>
                    <tr>
                        <th><label for="final_value_per_sqm">Final Value per sqm</label></th>
                        <td><input type="text" id="final_value_per_sqm" name="final_value_per_sqm" value="{{this.final_value_per_sqm}}"></td>
                    </tr>

                    <tr>
                        <th><label for="recon_final_value_opinion">Reconciliation and Final Value Opinion</label></th>
                        <td><textarea id="recon_final_value_opinion" name="recon_final_value_opinion" value="{{this.recon_final_value_opinion}}" style="width:80%;" rows="10"></textarea></td>
                    </tr>
                    <tr>
                        <th><label for="cost_value">Cost Approach Value</label></th>
                        <td><input type="text" id="cost_value" name="cost_value" value={{this.cost_value}}></td>
                    </tr>
                    <tr>
                        <th><label for="cost_value_per_sqm">Cost Approach Value per sqm</label></th>
                        <td><input type="text" id="cost_value_per_sqm" name="cost_value_per_sqm" value="{{this.cost_value_per_sqm}}"></td>
                    </tr>
                    <tr>
                        <th><label for="income_value">Income Capitalization Approach Value</label></th>
                        <td><input type="text" id="income_value" name="income_value" value="{{this.income_value}}"></td>
                    </tr>
                    <tr>
                        <th><label for="market_value_per_sqm">Income Capitalization Approach Value per sqm</label></th>
                        <td><input type="text" id="income_value_per_sqm" name="income_value_per_sqm" value="{{this.income_value_per_sqm}}"></td>
                    </tr>
                    <tr>
                        <th><label for="final_value_indication">Final Value Indication</label></th>
                        <td><input type="text" id="final_value_indication" name="final_value_indication" value="{{this.final_value_indication}}"></td>
                    </tr>
                    <tr>
                        <th><label for="final_value_indication_per_sqm">Final Value Indication per sqm</label></th>
                        <td><input type="text" id="final_value_indication_per_sqm" name="final_value_indication_per_sqm" value="{{this.final_value_indication_per_sqm}}"></td>
                    </tr>
                    </table>
                </div>
            <div id="main-table-bottom">
                <button type = "submit" name="save_doc" formaction="/save-doc/{{this.ref_id}}" method = "get" >Save Document</button>

            </div>
            </form>
			<!-- your problem was that the form was not enclosed properly, it was outside the buttons -->
        </div>
    </div>
</body>
</html>