<!DOCTYPE html>

<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
<head>
    <link rel = "stylesheet" href="agent_history.css">
    <title>Assignments</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
	<script>
		function openNav() {
			if(document.getElementById("sidebar").style.width=="0%")
			{			
				document.getElementById("sidebar").style.width = "110%";
				document.getElementById("bottom-button").style.width = "110%";
			}
			else{
				document.getElementById("sidebar").style.width = "0%";
				document.getElementById("bottom-button").style.width = "0%";

			}
		}
	</script>

</head>
<body>
    <div class="container">
        <div id="sidebar">
            <div class="sidebar-profile">
                <img src="temp_pic.png" width="100" height="100">
                <div class="sidebar-profile-text">
                    <p class="sidebar-profile-name">Agent {{username}}</p>
                    <p class="sidebar-profile-email"><i>{{
					email}}</i></p>
                    <a href="/logout">Log Out</a>
                </div>
            </div>


            <div class="sidebar-profile-btn">
                <a href="/dashboard">Dashboard</a>
            </div>
            <div class="sidebar-assignments-btn">
                <a  href="/assignments">Assignments</a>
            </div>
            <div class="sidebar-history-btn">
                <a  href="/history">History</a>
            </div>
            <div class="sidebar-settings-btn">
                <a href="/profile">Profile</a>
            </div>
            <div class="bottom-button">
                <a href="/logout">Logout</a>
            </div>
        </div>

		<div class="openbtn" >
			<a href="#" onclick="openNav()">☰</a>
		</div>

        <div class="main">
            <div class="main-header">
                <h1>History</h1>
                <p><b><i>Here are the completed and approved assignments!</i></b></p>
                <p>Each document is valid for printing for 5 years.</p>
            </div>

            <div class="main-table">
                <table>
					  <tr>
						<th>REF NO.</th>
						<th>DATE OF COMPLETION (M/D/Y)</th>
						<th>VALID THRU</th>
						<th>ACTION</th>
						<th><p style="width:400" class="table-long-text">COMMENT</p></th>
					  </tr>
				  
					{{#each assignment}}
					<tr>
						<td>{{this.ref_id}}</td>
						<td>{{this.created_at}}</td>
						<td>{{this.created_at}}</td>
						<td>
							<div class="main-assignments-status-btns">
								<a href="/viewAssignment/ref_id">Review Assignment</a>
							</div>
						</td>
						<td><p class="comment-text left-align">{{this.comment}}</p></td>
					</tr>
					{{/each}}				  
                </table>
            </div>
        </div>
    </div>
</body>
</html>
