<!DOCTYPE html>

<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
<head>
    <link rel = "stylesheet" href="agent_history.css">
    <title>Assignments</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
	<script>
		function openNav() {
			if(document.getElementById("sidebar").style.width=="0%")
			{			
				document.getElementById("sidebar").style.width = "110%";
				document.getElementById("bottom-button").style.width = "110%";
			}
			else{
				document.getElementById("sidebar").style.width = "0%";
				document.getElementById("bottom-button").style.width = "0%";

			}
		}
	</script>

	<link rel = "stylesheet" href="agent_add_view.css">	
	<!-- BOOTSTRAP  CHENEZ   AYAWKOANANAJKDBAKJW -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
</head>
<body>
	<nav class="navbar navbar-dark navbar-inverse bgc-super-dark navbar-fixed-top pb-3">
		<div class= "d-inline-block">
			<img src="6227853b83e54f2e94c29519d7c234db (1).jpg" height="72px" class="mx-3">
			<a class="color-white td-none" href="mailto:philhauz@yahoo.com">Contact Admin</a>
			
		<div class="openbtn" >
			<a href="#" onclick="openNav()">☰</a>
		</div>

		</div>
		
	</nav>
	
	<div class="container-flex">
		
		<div id="sidebar" class=" d-inline-block h-100">
	       <div class="sidebar-profile ">
				<div class="sidebar-profile-text">
					<p class="sidebar-profile-name">{{this.username}}</p>
					<p class="sidebar-profile-email"><i>{{this.lname}}, {{this.fname}} #{{this.appnum}}</i></p>
					<br>
					<p class="sidebar-profile-email"><i>{{this.email}}</i></p>
					<a class="bgc-none" href="/logout">Log Out</a>
				</div>
			</div>

			
			<div><a href="/dashboard">Dashboard</a></div>
			
			<div><a class="active" href="/assignments">Assignments</a></div>
			
			<div><a href="/history">History</a></div>
			
			<div><a href="/profile">Profile</a></div>
			
        </div>

		<div class ="main d-inline-block main w-75 container-flex">
            <div class="main-header">
                <h1 class="px-4">History</h1>
                <p class="px-5"><b><i>Here are the completed and approved assignments!</i></b></p>
                <p class="px-5">Each document is valid for printing for 5 years.</p>
            </div>

            <div class="main-table">
                <table>
					  <tr class="th-big">
						<th>REF NO.</th>
						<th>DATE OF COMPLETION (M/D/Y)</th>
						<th>CLIENT</th>
						<th>ADDRESS</th>
						<th>ACTION</th>
					  </tr>
				  
					{{#each assignment}}
					<tr>
						<td>{{this.ref_id}}</td>
						<td>{{this.created_at}}</td>
						<td>{{this.client_l_name}}, {{this.client_f_name}}</td>
						<td>{{this.lot_brgy}} {{this.lot_city}} {{this.lot_region}}</td>
						<td>
							<div class="main-assignments-status-btns">
								<a href="/viewAssignment/0/{{ref_id}}">Details</a>
							</div>
						</td>
					</tr>
					{{/each}}				  
                </table>
            </div>
        </div>
    </div>
</body>
</html>
