<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
<head>
    <link rel = "stylesheet" href="agent_add_view.css">
    <title>See All Agents</title>

	<!-- BOOTSTRAP  CHENEZ   AYAWKOANANAJKDBAKJW -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
	
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
	<script>
		function openNav() {
			if(document.getElementById("sidebar").style.width=="0%")
			{
				document.getElementById("sidebar").style.width = "110%";
				document.getElementById("bottom-button").style.width = "110%";
			}
			else{
				document.getElementById("sidebar").style.width = "0%";
				document.getElementById("bottom-button").style.width = "0%";

			}
		}
	</script>

</head>
<body>
	<div class="navbar navbar-expand navbar-dark bgc-super-dark flex-column flex-md-row bd-navbar">
		<a class="navbar-brand mr-0 mr-md-2">Logo picture img here</a>
		<div class="navbar-nav-scroll">
			<ul class="navbar-nav bd-navbar-nav flex-row">
				<li class="nav-item">
					<a href="#"></a>
				</li>
			</ul>
		
		</div>
	</div>
	

    <div class="container-flex">
        <div id="sidebar" class="inline">
            <div class="sidebar-profile">
                <div class="sidebar-profile-text">
                    <p class="sidebar-profile-name">Admin</p>
                    <p class="sidebar-profile-email"><i>{{this.email}}</i></p>
                    <a href="/logout">Log Out</a>
                </div>
            </div>
			
			
			


            <div class="sidebar-assignments-btn">
                <a  href="/assignments">Assignments</a>
            </div>
			
			<div class="sidebar-add-btn">
                <a  href="/admin/accounts">Agents</a>
            </div>

			<div class="sidebar-profile-btn">
                <a  href="/admin-add-assignment">Add New Assignment</a>
            </div>

			<div class="sidebar-history-btn">
                <a  href="/admin-add-agent">Add New Agent</a>
            </div>


            <div class="sidebar-history-btn">
                <a  href="/history">History</a>
            </div>
        </div>

		<div class="openbtn" >
			<a href="#" onclick="openNav()">☰</a>
		</div>

        <!-- <div class="main"> -->
		<div class="inline">
            <div class="main-header">
                <h1>See All Agents</h1>
                <p><b><i>Admin Panel</b></i></p>
            </div>
			<form method="get" action="/assignments">
				<div class="table-responsive main-table">
					<table>
						<tr>
							<th><p>USERNAME.</p></th>
							<th><p>EMAIL</p></th>
							<th><p>APPNUM</p></th>
							<th><p>APPADRESS</p></th>
							<th><p>CAN ACCEPT?</p></th>
							<th><p>ACTION</p></th>
						</tr>
						
						<tr>
							<th colspan='6'>Active Agents</th>
						</tr>
						
						{{#each activated}}
						<tr>
							<td>{{this.username}}</td>
							<td>{{this.email}}</td>
							<td>{{this.appnum}}</td>
							<td>{{this.appadress}}</td>
							<td>{{this.can_accept}}</td>
							<td>
								<div class="main-assignments-status-btns">
									<button type="submit" formaction="/admin/del/{{username}}">Delete</button>
									<button type="submit" formaction="/admin/reset-password/{{username}}">Reset Password</button>
									<button type="submit" formaction="/admin/deact/{{username}}">Deactivate</button>
								</div>
							</td>
						</tr>
						{{/each}}
						
						<tr>
							<th colspan='6'>Inactive Agents</th>
						</tr>
						
						{{#each inactive}}
						<tr>
							<td>{{this.username}}</td>
							<td>{{this.email}}</td>
							<td>{{this.appnum}}</td>
							<td>{{this.appadress}}</td>
							<td>{{this.can_accept}}</td>
							<td>
								<div class="main-assignments-status-btns">
									<button type="submit" formaction="/admin/del/{{username}}">Delete</button>
									<button type="submit" formaction="/admin/reset-password/{{username}}">Reset Password</button>
									<button type="submit" formaction="/admin/deact/{{username}}">Deactivate</button>
								</div>
							</td>
						</tr>
						{{/each}}
					</table>
				</div>
			</form>
        </div>
    </div>
</body>
</html>
