<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
<head>
    <link rel = "stylesheet" href="agent_add_view.css">
    <title>See All Agents</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
	<script>
		function openNav() {
			if(document.getElementById("sidebar").style.width=="0%")
			{
				document.getElementById("sidebar").style.width = "110%";
				document.getElementById("bottom-button").style.width = "110%";
			}
			else{
				document.getElementById("sidebar").style.width = "0%";
				document.getElementById("bottom-button").style.width = "0%";

			}
		}
	</script>

</head>
<body>
    <div class="container">
        <div id="sidebar">
            <div class="sidebar-profile">
                <div class="sidebar-profile-text">
                    <p class="sidebar-profile-name">Admin</p>
                    <p class="sidebar-profile-email"><i>{{this.email}}</i></p>
                    <a href="/logout">Log Out</a>
                </div>
            </div>


            <div class="sidebar-assignments-btn">
                <a  href="/assignments">Assignments</a>
            </div>

			<div class="sidebar-profile-btn">
                <a  href="/admin-add-assignment">Add New Assignment</a>
            </div>

			<div class="sidebar-history-btn">
                <a  href="/admin-add-agent">Add New Agent</a>
            </div>

			<div class="sidebar-add-btn">
                <a  href="/account">See All Agents</a>
            </div>

            <div class="sidebar-history-btn">
                <a  href="/history">History</a>
            </div>

            <div class="bottom-button">
                <a href="/logout">Logout</a>
            </div>
        </div>

		<div class="openbtn" >
			<a href="#" onclick="openNav()">☰</a>
		</div>

        <div class="main">
            <div class="main-header">
                <h1>See All Agents</h1>
                <p><b><i>Admin Panel</b></i></p>
            </div>
			<div class="main-table">
				<table>
					<tr>
						<th><p>USERNAME.</p></th>
						<th><p>EMAIL</p></th>
						<th><p>APPNUM</p></th>
						<th><p>APPADRESS</p></th>
						<th><p>CAN ACCEPT?</p></th>
						<th><p>ACTION</p></th>
					</tr>
					
					<tr>
						<th colspan='6'>Active Agents</th>
					</tr>
					
					{{#each activated}}
					<tr>
						<td>{{this.username}}</td>
						<td>{{this.email}}</td>
						<td>{{this.appnum}}</td>
						<td>{{this.appadress}}</td>
						<td>{{this.can_accept}}</td>
						<td>
							<div class="main-assignments-status-btns">
								<button type="submit" formaction="/admin/del/{{ref_id}}">Delete</button>
								<button type="submit" formaction="/admin/reset-password/{{ref_id}}">Reset Password</button>
								<button type="submit" formaction="/admin/deact/{{ref_id}}">Deactivate</button>
							</div>
						</td>
					</tr>
					{{/each}}
                </table>
            </div>
        </div>
    </div>
</body>
</html>
