<!DOCTYPE html>

<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
<head>
    <!-- <link rel = "stylesheet" href="/agent_ass_view.css" type="text/css" > -->
    <link rel = "stylesheet" href="/pager0.css" type="text/css" >
	<link rel = "stylesheet" href="/styles.css" type="text/css" >

    <title>Assignment No. {{this.ref_id}}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

	<link rel = "stylesheet" href="/agent_add_view.css">	
	<!-- BOOTSTRAP  CHENEZ   AYAWKOANANAJKDBAKJW -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
</head>
<body>
	<nav class="navbar navbar-dark navbar-inverse bgc-super-dark navbar-fixed-top pb-3">
		<div class= "d-inline-block">
			<img src="/6227853b83e54f2e94c29519d7c234db (1).jpg" height="72px" class="mx-3">
			
		<div class="openbtn" >
			<a href="#" onclick="openNav()">☰</a>
		</div>

		</div>
		
	</nav>
	
	<div class="container-flex">
		
		<div id="sidebar" class=" d-inline-block h-100">
	       <div class="sidebar-profile ">
				<div class="sidebar-profile-text">
					<p class="sidebar-profile-name">Administrator</p>
					<p class="sidebar-profile-email"><i>{{this.lname}}, {{this.fname}} #{{this.appnum}}</i></p>
					<br>
					<p class="sidebar-profile-email"><i>{{this.email}}</i></p>
					<a class="bgc-none" href="/logout">Log Out</a>
				</div>
			</div>

			<div><a href="/assignments">Assignment Management</a></div>
			
			<div><a href="/admin/accounts">Agent Management</a></div>
			
			<div><a href="/history">History</a></div>
			
			<div><a href="/admin-add-agent">Add New Agent</a></div>
			
			<div><a class="active" href="/admin-add-assignment">Add New Assignment</a></div>
			
        </div>

		<div class ="main d-inline-block main w-75 container-flex">
            <div class="main-header">
                <h1 class="px-4">Assignment #{{ref_id}}</h1>
                <p class="px-5"><b><i>Admin Panel</b></i></p>
            </div>
			
			<form method="get" action="/assignments" class="mx-auto">
				<div class="table-responsive main-table">
					<table>
						<tr>
							<th class="th-big"></th>
							<th>ADMIN</th>
							<th>PANEL</th>
							<th></th>
						</tr>
                        <tr>	<!-- ref_id & creation date -->
                            <th><label for="ref_id">Reference ID</label></th>
                            <td><input name="ref_id" type="number" value="{{this.ref_id}}" readonly></td>
								<!-- type_of_approach & assigned appraiser -->
                            <th><label for="type_of_approach">Type of Approach</label></th>
							<td><input name="type_of_approach" type="text" value="{{this.type_of_approach}}" readonly></td>
                        </tr>

						<tr>	<!-- client_name -->
                            <th><label for="client_name">Client First Name</label></th>
                            <td><input name="client_name" type="text" value="{{this.client_f_name}}"></td>

                            <th><label for="client_name">Client Last Name</label></th>
                            <td><input name="client_name" type="text" value="{{this.client_l_name}}"></td>

                        </tr>

					    <tr>	<!-- Contact Info -->
							<th><label for="client_email">Client Email</label></th>
							<td><input name="client_email" id="client_email" type="text" value="{{this.client_email}}"></td>

                            <th><label for="client_contact_num">Client Contact Number</label></th>
                            <td><input name="client_contact_num" id="client_contact_num" type="text" value="{{this.client_contact_num}}"></td>
                        </tr>

						<tr>	<!-- lot_brgy,city,region - will serve as general location for interest check of agents/appraisers & zonal value-->
							<th><label for="lot_brgy">Lot Baranggay</label></th>
							<td><input name="lot_brgy" type="text" value="{{this.lot_brgy}}"></td>

							<th><label for="lot_city">Lot City</label></th>
							<td><input name="lot_city" type="text" value="{{this.lot_city}}"></td>
						</tr>

						<tr>
                            <th><label for="lot_region">Lot Region</label></th>
							<td><select id="lot_region" name="lot_region">
								<option value="{{this.lot_region}}" selected disabled hidden>{{this.lot_region}}</option>
								<option value="Region I (Ilocos Region)">Region I (Ilocos Region)</option>
								<option value="Region II (Cagayan Valley)">Region II (Cagayan Valley)</option>
								<option value="Region III (Central Luzon)">Region III (Central Luzon)</option>
								<option value="Region IV-A (CALABARZON)">Region IV-A (CALABARZON)</option>
								<option value="Region V (Bicol Region)">Region V (Bicol Region)</option>
								<option value="Region VI (Western Visayas)">Region VI (Western Visayas)</option>
								<option value="Region VII (Central Visayas)">Region VII (Central Visayas)</option>
								<option value="Region VIII (Eastern Visayas)">Region VIII (Eastern Visayas)</option>
								<option value="Region IX (Zamboanga Peninsula)">Region IX (Zamboanga Peninsula)</option>
								<option value="Region X (Northern Mindanao)">Region X (Northern Mindanao)</option>
								<option value="Region XI (Davao Region)">Region XI (Davao Region)</option>
								<option value="Region XII (SOCCSKSARGEN)">Region XII (SOCCSKSARGEN)</option>
								<option value="NCR (National Capital Region)">NCR (National Capital Region)</option>
								<option value="CAR (Cordillera Administrative Region)">CAR (Cordillera Administrative Region)</option>
								<option value="ARMM (Autonomous Region in Muslim Mindanao Region)">ARMM (Autonomous Region in Muslim Mindanao Region)</option>
								<option value="Region XIII (Caraga)">Region XIII (Caraga)</option>
								<option value="MIMAROPA">MIMAROPA</option>
							</select></td>

							<th><label for="zonal">Zonal Value</label></th>
                            <td><input name="zonal" type="number" value="{{this.zonal}}"></td>
                        </tr>
						<tr>
							<th><label for="title_no">Title No</label></th>
							<td><input name="title_no" type="text" value="{{this.title_no}}"></td>
						</tr>
                    </table>
                  </div>
              <div id="main-table-bottom">
                </div>
					<!-- /admin-save-ass will make the assigned_to back to "" and update all the details TODO -->
					<button type = "submit" name="save_ass" formaction="/save-ass">Save Details</button>
				</div>
              </form>
          </div>
      </div>
  </body>
  </html>
