<!DOCTYPE html>

<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
<head>
    <link rel = "stylesheet" href="/agent_ass_view.css" type="text/css" >
    <link rel = "stylesheet" href="/pager0.css" type="text/css" >
	<link rel = "stylesheet" href="/styles.css" type="text/css" >

    <title>Assignment No. {{this.ref_id}}</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container">
        <div id="sidebar">
            <div class="sidebar-profile">
                <img src="/temp_pic.png" width="100" height="100">
                <div class="sidebar-profile-text">
                    <p class="sidebar-profile-name">Admin</p>
                    <p class="sidebar-profile-email"><i>{{this.email}}</i></p>
                    <a href="/logout">Log Out</a>
                </div>
            </div>
            
            <div class="sidebar-assignments-btn">
                <a  href="/assignments">Assignments</a>
            </div>
			
			<div class="sidebar-profile-btn">
                <a  href="/admin-add-assignment">Add New Assignment</a>
            </div>
			
            <div class="sidebar-history-btn">
                <a  href="/history">History</a>
            </div>
			
            <div class="bottom-button">
                <a href="/logout">Logout</a>
            </div>
			
        </div>
    
		<div class="openbtn" >
			<a href="#" onclick="openNav()">☰</a>
		</div>
		
        <div class="main">
            <div class="main-header">
                <h1>View Assignment</p>
                <p><b><i>Admin may not edit, but can comment, return, and approve, and export the PDF of the Assignment.</b></i></p>
            </div>

			<!-- DISABLED if no need to return anything, since you're admin, you don't really need to change anything for this. -->

            <form class="assignments-form" action = "/assignments" method = "get">
                <div class="main-table">
					<table>						
						<tr>
							<th></th>
							<th>ADMIN</th>
							<th>PANEL</th>
							<th></th>
						</tr>
                        <tr>	<!-- ref_id & creation date -->
                            <th><label for="ref_id">Reference ID</label></th>
                            <td><input name="ref_id" type="text" value="{{this.ref_id}}" disabled></td>
                            <th><label for="createdAt">Created On</label></th>
                            <td><input name="createdAt" type="text" value="{{this.createdAt}}" disabled></td>
                        </tr>
						
					    <tr>	<!-- type_of_approach & assigned appraiser -->
                            <th><label for="type_of_approach">Type of Approach</label></th>
							<td><input name="type_of_approach" type="text" value="{{this.type_of_approach}}" disabled></td>
						
                            <th><label for="assignedTo">Appraiser</th>
                            <td><input name="assignedTo" type="text" value="{{this.assignedTo}}" disabled></td>
                        </tr>
                        <tr>	<!-- client_name -->
                            <th><label for="client_name">Client Name</label></th>
                            <td><input name="client_name" type="text" value="{{this.client_l_name}}, {{this.client_f_name}}" disabled></td>
							
                            <th><label for="appnum">License</label></th>
                            <td><input name="appnum" type="number" value="{{this.appnum}}" disabled></td>
                        </tr>
						<tr>	<!-- lot_brgy,city,region - will serve as general location for interest check of agents/appraisers & zonal value-->
							<th><label for="gen_lot_loc">Lot Location</label></th>
							<td><input name="gen_lot_loc" type="text" value="{{this.lot_brgy}}, {{this.lot_city}}, {{this.lot_region}}" disabled></td>
							<th><label for="zonal">Zonal Value</label></th>
                            <td><input name="zonal" type="number" value="{{this.zonal}}" disabled></td>
						</tr>
						
						<tr>	<!-- LABELS -->
							<th></th>
							<th>SUBJECT PROPERTY</th>
							<th>COMPARABLE I</th>
							<th>COMPARABLE II</th>
						</tr>

						<tr>	<!-- price_per_sqm -->
                            <th><label for="price_per_sqm">Price per SQM</label></th>
                            <td><input disabled name="price_per_sqm" id="price_per_sqm" type="text" value="{{this.price_per_sqm}}"></td>
                            <td><input disabled name="price_per_sqm" id="price_per_sqm1" type="text" value="{{this.price_per_sqm1}}"></td>
                            <td><input disabled name="price_per_sqm" id="price_per_sqm2" type="text" value="{{this.price_per_sqm2}}"></td>
                        </tr>
						
                        <tr>	<!-- ref_date -->
                            <th><label for="ref_date">Reference Date</label></th>
                            <td><input disabled name="ref_date" id="ref_date" type="date" value="{{this.ref_date}}"></td>
                            <td><input disabled name="ref_date" id="ref_date1" type="date" value="{{this.ref_date1}}">
								<input disabled class="percentage" id="ref_date_percent1" name="ref_date_percent" type="number" value="{{this.ref_date_percent1}}"> %
							</td>
                            <td><input disabled name="ref_date" id="ref_date2" type="date" value="{{this.ref_date2}}">
								<input disabled class="percentage" id="ref_date_percent2" name="ref_date_percent" type="number" value="{{this.ref_date_percent2}}"> %
							</td>
                        </tr>

						<tr>	<!-- lot_loc - agent will write down the specific location here -->
                            <th><label for="lot_loc">Property Location</label></th>
                            <td><input disabled name="lot_loc" id="lot_loc" type="text" value="{{this.lot_loc}}"></td>
                            <td><input disabled name="lot_loc" id="lot_loc1" type="text" value="{{this.lot_loc1}}"></td>
                            <td><input disabled name="lot_loc" id="lot_loc2" type="text" value="{{this.lot_loc2}}"></td>
						</tr>

						<tr>	<!-- property_type -->
                            <th><label for="property_type">Property Type</label></th>
                            <td><input disabled name="property_type" id="property_type" type="text" value="{{this.property_type}}"></td>
                            <td><input disabled name="property_type" id="property_type1" class="text-next-to-percentage" type="text" value="{{this.property_type1}}">
								<input disabled class="percentage" id="property_type_percent1" name="property_type" type="number" value="{{this.property_type_percent1}}"> %
							</td>
                            <td><input disabled name="property_type" id="property_type2" class="text-next-to-percentage" type="text" value="{{this.property_type2}}">
								<input disabled class="percentage" id="property_type_percent2" name="property_type" type="number" value="{{this.property_type_percent2}}"> %
							</td>
                        </tr>
						<tr>	<!-- property_interest -->
                            <th><label for="property_interest" >Property Interest</label></th>
                            <td><input disabled name="property_interest" type="text" value="{{this.property_interest}}"></td>

							<td><input disabled name="property_interest" class="text-next-to-percentage" type="text" value="{{this.property_interest}}">
								<input disabled class="percentage" id="property_interest_percent1" name="property_interest" type="number" value="{{this.property_interest_percent1}}"> %
							</td>
							<td><input disabled name="property_interest" class="text-next-to-percentage" type="text" value="{{this.property_interest}}">
								<input disabled class="percentage" id="property_interest_percent2" name="property_interest" type="number" value="{{this.property_interest_percent2}}"> %
							</td>
                        </tr>
						
                        <tr>	<!-- property_images (DECLARE AS MISSING FEATURE NALANG ANG HIRAAAAP) -->
                            <th><label for="property_images">Property Images</label></th>
                            <td><input disabled type="file" id="pimg" name="property_images"></td>
                            <td><input disabled type="file" id="pimg1" name="property_images"></td>
                            <td><input disabled type="file" id="pimg2" name="property_images"></td>
                        </tr>
						
                        <tr>	<!-- propeerty area size / lot_size -->
                            <th><label for="lot_size">Property Area Size</label></th>
                            <td><input name="lot_size" type="text" value="{{this.lot_size}}" disabled></td>
                            <td><input disabled name="lot_size" class="text-next-to-percentage" type="text" value="{{this.lot_size1}}">
								<input disabled class="percentage" id="lot_size_percent1" name="property_interest" type="number" value="{{this.lot_size_percent1}}"> %
							</td>
                            <td><input disabled name="lot_size" class="text-next-to-percentage" type="text" value="{{this.lot_size2}}">
								<input disabled class="percentage" id="lot_size_percent2" name="property_interest" type="number" value="{{this.lot_size_percent2}}"> %
							</td>
                        </tr>
						
						<tr>	<!-- shape -->
                            <th><label for="shape">Shape</label></th>
                            <td><input disabled name="shape" type="text" id="shape" value="{{this.shape}}"></td>
                            <td><input disabled name="shape" type="text" class="text-next-to-percentage" id="shape1" value="{{this.shape1}}">
								<input disabled class="percentage" id="shape_percent1" name="shape" type="number" value="{{this.shape_percent1}}"> %
							</td>
                            <td><input disabled name="shape" class="text-next-to-percentage" type="text" id="shape2" value="{{this.shape2}}">
								<input disabled class="percentage" id="shape_percent2" name="shape" type="number" value="{{this.shape_percent2}}"> %
							</td>
                        </tr>
						
						<tr>	<!-- topo -->
                            <th><label for="topo">Topography</label></th>
                            <td><input disabled name="topo" type="text" value="{{this.topo}}"></td>
                            <td><input disabled name="topo" class="text-next-to-percentage" type="text" value="{{this.topo1}}">
								<input disabled class="percentage" id="topo_percent1" name="topo" type="number" value="{{this.topo_percent1}}"> %
							</td>
                            <td><input disabled name="topo" class="text-next-to-percentage" type="text" value="{{this.topo2}}">
								<input disabled class="percentage" id="topo_percent2" name="topo" type="number" value="{{this.topo_percent2}}"> %
							</td>
                        </tr>
						
						<tr>	<!-- frontage -->
                            <th><label for="frontage">Frontage</label></th>
                            <td><input disabled name="frontage" type="text" value="{{this.frontage}}"></td>
                            <td><input disabled name="frontage" class="text-next-to-percentage" type="text" value="{{this.frontage1}}">
								<input disabled class="percentage" id="frontage_percent1" name="frontage" type="number" value="{{this.frontage_percent1}}"> %
							</td>
                            <td><input disabled name="frontage" class="text-next-to-percentage" type="text" value="{{this.frontage2}}">
								<input disabled class="percentage" id="frontage_percent2" name="frontage" type="number" value="{{this.frontage_percent2}}"> %
							</td>
                        </tr>
						
						<tr>	<!-- terms_of_sale -->
                            <th><label for="terms_of_sale">Terms of Sale</label></th>
                            <td><input disabled name="terms_of_sale" type="text" value="{{this.terms_of_sale}}"></td>
                            <td><input disabled name="terms_of_sale" class="text-next-to-percentage" type="text" value="{{this.terms_of_sale1}}">
								<input disabled class="percentage" id="terms_of_sale_percent1" name="terms_of_sale" type="number" value="{{this.terms_of_sale_percent1}}"> %
							</td>
                            <td><input disabled name="terms_of_sale" class="text-next-to-percentage" type="text" value="{{this.terms_of_sale2}}">
								<input disabled class="percentage" id="terms_of_sale_percent2" name="terms_of_sale" type="number" value="{{this.terms_of_sale_percent2}}"> %
							</td>
                        </tr>
						
						<tr>	<!-- corner -->
                            <th><label>Is a Corner Lot?</label></th>
                            <td><input disabled name="corner" type="checkbox" value="{{this.corner}}"></td>
                            <td><input disabled name="corner" type="checkbox" value="{{this.corner1}}">
								<input disabled class="percentage" id="corner_percent2" name="corner" type="number" value="{{this.corner_percent2}}"> %
							</td>
                            <td><input disabled name="corner" type="checkbox" value="{{this.corner2}}">
								<input disabled class="percentage" id="corner_percent2" name="corner" type="number" value="{{this.corner_percent2}}"> %
							</td>
                        </tr>
						<tr>	<!-- prime -->
                            <th><label>Is Prime Lot?</label></th>
                            <td><input disabled name="prime" type="checkbox" value="{{this.prime}}"></td>
                            <td><input disabled name="prime" type="checkbox" value="{{this.prime1}}">
								<input disabled class="percentage" id="prime_percent2" name="prime" type="number" value="{{this.prime_percent2}}"> %
							</td>
                            <td><input disabled name="prime" type="checkbox" value="{{this.prime2}}">
								<input disabled class="percentage" id="prime_percent2" name="prime" type="number" value="{{this.prime_percent2}}"> %
							</td>
                        </tr>		
						
						<tr>	<!-- hospital -->
                            <th><label>Has nearby Hospital(s)?</label></th>
                            <td><input disabled name="hospital" type="checkbox" value="{{this.hospital}}"></td>
                            <td><input disabled name="hospital" type="checkbox" value="{{this.hospital1}}">
								<input disabled class="percentage" id="hospital_percent2" name="hospital" type="number" value="{{this.hospital_percent2}}"> %
							</td>
                            <td><input disabled name="hospital" type="checkbox" value="{{this.hospital2}}">
								<input disabled class="percentage" id="hospital_percent2" name="hospital" type="number" value="{{this.hospital_percent2}}"> %
							</td>
                        </tr>			
						<tr>	<!-- school -->
							<th><label>Has nearby School(s)?</label></th>
                            <td><input disabled name="school" type="checkbox" value="{{this.school}}"></td>
                            <td><input disabled name="school" type="checkbox" value="{{this.school1}}">
								<input disabled class="percentage" id="school_percent2" name="school" type="number" value="{{this.school_percent2}}"> %
							</td>
                            <td><input disabled name="school" type="checkbox" value="{{this.school2}}">
								<input disabled class="percentage" id="school_percent2" name="school" type="number" value="{{this.school_percent2}}"> %
							</td>
                        </tr>
						<tr>	<!-- mall -->
                            <th><label>Has nearby Shop/Mall(s)?</label></th>
                            <td><input disabled name="mall" type="checkbox" value="{{this.mall}}"></td>
                            <td><input disabled name="mall" type="checkbox" value="{{this.mall1}}">	
								<input disabled class="percentage" id="mall_percent2" name="mall" type="number" value="{{this.mall_percent2}}"> %
							</td>
                            <td><input disabled name="mall" type="checkbox" value="{{this.mall2}}">
								<input disabled class="percentage" id="mall_percent2" name="mall" type="number" value="{{this.mall_percent2}}"> %
							</td>
						</tr>
						<tr>	<!-- public transpo -->					
                            <th><label for="public_transpo" >Access to Main Public Transport</label></th>
							<td><input disabled name="public_transpo" id="public_transpo" type="text" value="{{this.public_transpo}}"></td>
							<td><input disabled class="text-next-to-percentage" name="public_transpo" id="public_transpo1" type="text" value="{{this.public_transpo1}}">
								<input disabled class="percentage" id="public_transpo_percent1" name="public_transpo" type="number" value="{{this.public_transpo_percent1}}"> %
							</td>
							<td><input disabled class="text-next-to-percentage" name="public_transpo" id="public_transpo2" type="text" value="{{this.public_transpo2}}">
								<input disabled class="percentage" id="public_transpo_percent2" name="public_transpo" type="number" value="{{this.public_transpo_percent2}}"> %
							</td>
                        </tr>
						<tr>	<!-- improvement -->
                            <th><label>Has Improvement(s)?</label></th>
                            <td><input disabled name="improvement" type="checkbox" value="{{this.improvement}}"></td>
                            <td><input disabled name="improvement" type="checkbox" value="{{this.improvement1}}">	
								<input disabled class="percentage" id="improvement_percent2" name="improvement" type="number" value="{{this.improvement_percent2}}"> %
							</td>
                            <td><input disabled name="improvement" type="checkbox" value="{{this.improvement2}}">
								<input disabled class="percentage" id="improvement_percent2" name="improvement" type="number" value="{{this.improvement_percent2}}"> %
							</td>
						</tr>
						
						<tr>	<!-- zoning -->
                            <th><label for="zoning">Zoning</label></th>
                            <td><input disabled name="zoning" type="text" value="{{this.zoning}}"></td>
                            <td><input disabled name="zoning" class="text-next-to-percentage" type="text" value="{{this.zoning1}}">
								<input disabled class="percentage" id="zoning_percent1" name="zoning" type="number" value="{{this.zoning_percent1}}"> %
							</td>
                            <td><input disabled name="zoning" class="text-next-to-percentage" type="text" value="{{this.zoning2}}">
								<input disabled class="percentage" id="zoning_percent2" name="zoning" type="number" value="{{this.zoning_percent2}}"> %
							</td>
                        </tr>
						<tr>
							<th></th>
							<th></th>
							<th>ADJUSTED VALUE & WEIGHT</th>
							<th>ADJUSTED VALUE & WEIGHT</th>
						</tr>
						
						<tr>
                            <th><label for="computation">Computation</label></th>
                            <td><input disabled name="computation" id="computation1" type="text" value="return computeValues1()"></td>
                            <td><input disabled class="text-next-to-percentage" name="computation" id="computation2" type="number" value="return computeValues2()">
								<input disabled class="percentage" id="computation_percent2" name="computation" type="number" value="{{this.computation_percent2}}"> %
							</td>
                            <td><input disabled class="text-next-to-percentage" name="computation" id="computation3" type="number" value="return computeValues3()">
								<input disabled class="percentage" id="computation_percent2" name="computation" type="number" value="{{this.computation_percent2}}"> %
							</td>
                        </tr>
                    </table>
                </div>
            <div id="main-table-bottom" class="inline">
				<div class="comment">
					<p>Admin's Comment: </p>
					<textarea name="comment" id="comment" type="text">{{this.comment}}</textarea>
                </div>
				<button type = "submit" name="save_ass" formaction="/admin-comment">Return and Comment</button>
                <button type="submit" name="send_ass" formaction="/admin-approve">Approve</button>
            </div>
            </form>
        </div>
    </div>
</body>
</html>