<!DOCTYPE html>

<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
<head>
    <link rel = "stylesheet" href="/agent_ass_view.css" >
    <link rel = "stylesheet" href="/pager0.css" type="text/css" >
	<link rel = "stylesheet" href="/styles.css" type="text/css" >

    <title>Assignment No. {{this.ref_id}}</title>

    <script>
      function computer()
      {
        var value0 = 0;
        var value1 = 0;
        var value2 = 0;

        //COMPARATIVE 1
        var ref_date1 = parseInt(document.getElementById("ref_date_percent1").value);
        var property_type1 = parseInt(document.getElementById("property_type_percent1").value);
        var property_interest1 = parseInt(document.getElementById("property_interest_percent1").value);
        var size1 = parseInt(document.getElementById("lot_size_percent1").value);
        var shape1 = parseInt(document.getElementById("shape_percent1").value);
        var topo1 = parseInt(document.getElementById("topo_percent1").value);
        var frontage1 = parseInt(document.getElementById("frontage_percent1").value);
        var terms_of_sale1 = parseInt(document.getElementById("terms_of_sale_percent1").value);
        var corner1 = parseInt(document.getElementById("corner_percent1").value);
        var prime1 = parseInt(document.getElementById("prime_percent1").value);
        var hospital1 = parseInt(document.getElementById("hospital_percent1").value);
        var school1 = parseInt(document.getElementById("school_percent1").value);
        var mall1 = parseInt(document.getElementById("mall_percent1").value);
        var public_transpo1 = parseInt(document.getElementById("public_transpo_percent1").value);
        var improvement1 = parseInt(document.getElementById("improvement_percent1").value);
        var zoning1 = parseInt(document.getElementById("zoning_percent1").value);

        //mixed bools, 6 because there are 6 booleans
        // todo make this return the resultsofr bools
        //for (var i=0; i=6; i++)
        //{
        //}

        <!-- var corner_bool = document.getElementById("corner"); -->

        // todo: https://www.geeksforgeeks.org/how-to-add-a-parameter-to-the-url-in-javascript/
        // workaround - get the bool val of each and put them inside an array to be put in the url as part of req.param nalang
        // tapos get the backend to check the params
        var checked_items = document.getElementsByName("corner")
        // WORKING PATRT - checked_items[0].checked = true if naka check

                //[corner_bool[0].checked,
                  //	corner1.checked,
                  //	corner1.checked,
                  //	corner1.checked ]

        //var bools_percent = document.getElementById("bools_percent") // dont forget to parse to int when using

        var ref_date2 = parseInt(document.getElementById("ref_date_percent2").value);
        var property_type2 = parseInt(document.getElementById("property_type_percent2").value);
        var property_interest2 = parseInt(document.getElementById("property_interest_percent2").value);
        var size2 = parseInt(document.getElementById("lot_size_percent2").value);
        var shape2 = parseInt(document.getElementById("shape_percent2").value);
        var topo2 = parseInt(document.getElementById("topo_percent2").value);
        var frontage2 = parseInt(document.getElementById("frontage_percent2").value);
        var terms_of_sale2 = parseInt(document.getElementById("terms_of_sale_percent2").value);
        var corner2 = parseInt(document.getElementById("corner_percent2").value);
        var prime2 = parseInt(document.getElementById("prime_percent2").value);
        var hospital2 = parseInt(document.getElementById("hospital_percent2").value);
        var school2 = parseInt(document.getElementById("school_percent2").value);
        var mall2 = parseInt(document.getElementById("mall_percent2").value);
        var public_transpo2 = parseInt(document.getElementById("public_transpo_percent2").value);
        var improvement2 = parseInt(document.getElementById("improvement_percent2").value);
        var zoning2 = parseInt(document.getElementById("zoning_percent2").value);

        var startingValue0 = parseInt(document.getElementById("price_per_sqm").value);
        var startingValue1 = parseInt(document.getElementById("price_per_sqm1").value);
        var startingValue2 = parseInt(document.getElementById("price_per_sqm2").value);

        value1 = startingValue1 + (startingValue1*ref_date1*0.01) +
        (startingValue1*property_type1*0.01)+
        (startingValue1*property_interest1*0.01)+
        (startingValue1*size1*0.01) +
        (startingValue1*shape1*0.01) +
        (startingValue1*topo1*0.01) +
        (startingValue1*frontage1*0.01) +
        (startingValue1*terms_of_sale1*0.01) +
        (startingValue1*corner1*0.01) +
        (startingValue1*prime1*0.01) +
        (startingValue1*hospital1*0.01) +
        (startingValue1*school1*0.01) +
        (startingValue1*mall1*0.01)+
        (startingValue1*improvement1*0.01)+
        (startingValue1*public_transpo1*0.01) +
        (startingValue1*zoning1*0.01);

        value2 = startingValue2 + (startingValue2*ref_date2*0.01) +
        (startingValue2*property_type2*0.01)+
        (startingValue2*property_interest2*0.01)+
        (startingValue2*size2*0.01) +
        (startingValue2*shape2*0.01) +
        (startingValue2*topo2*0.01) +
        (startingValue2*frontage2*0.01) +
        (startingValue2*terms_of_sale2*0.01) +
        (startingValue2*corner2*0.01) +
        (startingValue2*prime2*0.01) +
        (startingValue2*hospital2*0.01) +
        (startingValue2*school2*0.01) +
        (startingValue2*mall2*0.01)+
        (startingValue2*public_transpo2*0.01) +
        (startingValue2*zoning2*0.01);

        var comp_percent1 = parseInt(document.getElementById("computation_percent1").value);
        var comp_percent2 = parseInt(document.getElementById("computation_percent2").value);

        var computationText = document.getElementById("computation");

        <!-- computationText.value = parseInt(startingValue0.value)+423;	//WORKS NOW -->

  //			computationText.value = value0;	//WORKS NOW
        var computationText1 = document.getElementById("computation1");
        computationText1.value = checked_items.length;
        var computationText2 = document.getElementById("computation2");
        computationText2.value = value2;

        //computationText.value = parseInt(computationText1.value)*(comp_percent1*0.01)
        computationText.value = (parseInt(computationText1.value)*(comp_percent1*0.01)) + (parseInt(computationText2.value)*(comp_percent2*0.01))

        var zonal_value = parseInt(document.getElementById("zonal").value);

        //not working zonal value
        if (parseInt(computationText1.value)*(comp_percent1*0.01) + parseInt(computationText2.value)*(comp_percent2*0.01) > zonal_value)//does not work -> this.zonal)
        {
          computationText.value = (parseInt(computationText1.value)*(comp_percent1*0.01)) + (parseInt(computationText2.value)*(comp_percent2*0.01))
        }
        else {
          computationText.value = zonal_value
        }

        //computationText.value = bools;
        <!-- computationText1.value = startValue2; -->
        <!-- computationText2.setAttribute("value", "Hi") -->
      }
    </script>

    <script>
      //prevent unsaved stuff
          window.addEventListener('beforeunload', function (e) {

        <!-- document.getElementById("property_type_percent1"); -->
        <!-- document.getElementById("property_interest_percent1"); -->
        <!-- document.getElementById("lot_size_percent1"); -->
        <!-- document.getElementById("shape_percent1"); -->
        <!-- document.getElementById("topo_percent1"); -->
        <!-- document.getElementById("frontage_percent1"); -->
        <!-- document.getElementById("terms_of_sale_percent1"); -->
        <!-- document.getElementById("corner_percent1"); -->
        <!-- document.getElementById("prime_percent1"); -->
        <!-- document.getElementById("hospital_percent1"); -->
        <!-- document.getElementById("school_percent1"); -->
        <!-- document.getElementById("mall_percent1"); -->
        <!-- document.getElementById("public_transpo1"); -->
        <!-- document.getElementById("zoning_percent1"); -->

              // TODO complete this
              <!-- if (document.getElementById("property_type_percent2") !== 0 || -->
                  <!-- document.getElementById("property_interest_percent2") !== '' || -->
          <!-- document.getElementById("lot_size_percent2") !== '' || -->
          <!-- document.getElementById("shape_percent2") !== '' || -->
          <!-- document.getElementById("topo_percent2") !== '' || -->
          <!-- document.getElementById("frontage_percent2") !== '' || -->
          <!-- document.getElementById("terms_of_sale_percent2") !== '' || -->
          <!-- document.getElementById("corner_percent2") !== '' || -->
          <!-- document.getElementById("prime_percent2") !== '' || -->
          <!-- document.getElementById("hospital_percent2") !== '' || -->
          <!-- document.getElementById("school_percent2") !== '' || -->
          <!-- document.getElementById("mall_percent2") !== '' || -->
          <!-- document.getElementById("public_transpo2") !== '' || -->
          <!-- document.getElementById("zoning_percent2")  !== '') { -->

                  // Cancel the event and
                  // show alert that the unsaved
                  // changes would be lost
                  e.preventDefault();
                  e.returnValue = '';
              }
    </script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.3.0-beta.2/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.3.0-beta.2/vfs_fonts.min.js"></script>
    <script src='pdfmake/build/pdfmake.min.js'></script>
    <script src='pdfmake/build/vfs_fonts.js'></script>

	<link rel = "stylesheet" href="/agent_add_view.css">	
	<!-- BOOTSTRAP  CHENEZ   AYAWKOANANAJKDBAKJW -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
</head>
<body>
	<nav class="navbar navbar-dark navbar-inverse bgc-super-dark navbar-fixed-top pb-3">
		<div class= "d-inline-block">
			<img src="/6227853b83e54f2e94c29519d7c234db (1).jpg" height="72px" class="mx-3">
			
		<div class="openbtn" >
			<a href="#" onclick="openNav()">☰</a>
		</div>

		</div>
		
	</nav>
	
	<div class="container-flex">
		
		<div id="sidebar" class=" d-inline-block h-100">
	       <div class="sidebar-profile ">
				<div class="sidebar-profile-text">
					<p class="sidebar-profile-name">Administrator</p>
					<p class="sidebar-profile-email"><i>{{this.lname}}, {{this.fname}} #{{this.appnum}}</i></p>
					<br>
					<p class="sidebar-profile-email"><i>{{this.email}}</i></p>
					<a class="bgc-none" href="/logout">Log Out</a>
				</div>
			</div>

			<div><a href="/assignments">Assignment Management</a></div>
			
			<div><a href="/admin/accounts">Agent Management</a></div>
			
			<div><a  class="active" href="/history">History</a></div>
			
			<div><a href="/admin-add-agent">Add New Agent</a></div>
			
			<div><a href="/admin-add-assignment">Add New Assignment</a></div>
			
        </div>

		<div class ="main d-inline-block main w-75 container-flex">
            <div class="main-header">
                <h1 class="px-5">HISTORY</h1>
                <p class="px-5"><b><i>Admin Panel</b></i></p>
            </div>
			
			<form method="get" action="/assignments" class="mx-auto">
				
				<div class="table-responsive main-table">
					<table>
						<tr class="th-big">
							<th colspan="4">ADMIN PANEL</th>
						</tr>
                        <tr>	<!-- ref_id & creation date -->
                            <th><label for="ref_id">Reference ID</label></th>
                            <td><input name="ref_id" id="ref_id" type="text" value="{{this.ref_id}}" readonly></td>
                            <th><label for="created_at">Created On</label></th>
                            <td><input name="created_at" id="created_at" type="text" value="{{this.created_at}}" readonly></td>
                        </tr>

                        <tr>	<!--  & completed on date -->
                            <th><label for="type_of_approach">Type of Approach</label></th>
						              	<td><input name="type_of_approach" id="type_of_approach" type="text" value="{{this.type_of_approach}}" readonly></td>

                            <th><label for="completed_on">Completed On</label></th>
                            <td><input name="completed_on" id="completed_on" type="text" value="{{this.completed_on}}" readonly></td>
                        </tr>

					              <tr>	<!-- type_of_approach & assigned appraiser -->
                            <th><label for="app_appnum">Appraiser Number</label></th>
                            <td><input name="app_appnum" id="app_appnum" type="number" value="{{app_appnum}}" readonly></td>
                            <th><label for="assigned_to">Assigned Appraiser</th>
                            <td><input name="assigned_to" id="assigned_to" type="text" value="{{app_fname}} {{app_lname}}" readonly></td>
                        </tr>
                        <tr>
                            <!-- appraiser address -->
                            <th><label for="appraiser_address">Appraiser Address</label></th>
                            <td><input name="appraiser_address" id="appraiser_address" type="text" value="{{app_appaddress}}" readonly></td>	
                            <!-- client_name -->
                            <th><label for="client_name">Client Name</label></th>
                            <td><input name="client_name" id="client_name" type="text" value="{{this.client_l_name}}, {{this.client_f_name}}" readonly></td>
                        </tr>
                        <tr>
                            <!-- title no -->
							              <th><label for="title_no">Title No.</label></th>
                            <td><input name="title_no" id="title_no" type="text" value="{{this.title_no}}" readonly></td>  
							              <!-- lot_brgy,city,region - will serve as general location for interest check of agents/appraisers & zonal value-->
							              <th><label for="gen_lot_loc">Property Location</label></th>
							              <td><input name="gen_lot_loc" id="gen_lot_loc" type="text" value="{{this.lot_brgy}}, {{this.lot_city}}, {{this.lot_region}}" readonly></td>
                        </tr>
                        <tr>
                            <th><label for="zonal">Zonal Value</label></th>
                            <td><input name="zonal" id="zonal" type="number" value="{{this.zonal}}" readonly></td>
                        </tr>
						    
						<tr>	<!-- LABELS -->
							<th></th>
							<th>SUBJECT PROPERTY</th>
							<th>COMPARABLE I</th>
							<th>COMPARABLE II</th>
						</tr>

						<tr>	<!-- price_per_sqm -->
                            <th><label for="price_per_sqm">Price per SQM</label></th>
                            <td><input readonly name="price_per_sqm" id="price_per_sqm" type="number" value="{{this.computation}}"></td>
                            <td><input readonly  name="price_per_sqm" id="price_per_sqm1" type="number" value="{{this.price_per_sqm1}}"></td>
                            <td><input readonly  name="price_per_sqm" id="price_per_sqm2" type="number" value="{{this.price_per_sqm2}}"></td>
                        </tr>

                        <tr>	<!-- ref_date -->
                            <th><label for="ref_date">Reference Date</label></th>
                            <td></td>
                            <td><input readonly  name="ref_date" id="ref_date1" type="date" value="{{this.ref_date1}}">
								<input readonly  class="percentage" id="ref_date_percent1" name="ref_date" type="number" value="{{this.ref_date_percent1}}"> %
							</td>
                            <td><input readonly  name="ref_date" id="ref_date2" type="date" value="{{this.ref_date2}}">
								<input readonly  class="percentage" id="ref_date_percent2" name="ref_date" type="number" value="{{this.ref_date_percent2}}"> %
							</td>
                        </tr>

						<tr>	<!-- lot_loc - agent will write down the specific location here -->
                            <th><label for="lot_loc">Property Location</label></th>
                            <td><input readonly  name="lot_loc" id="lot_loc" type="text" value="{{this.lot_loc}}"></td>
                            <td><input readonly  name="lot_loc" id="lot_loc1" type="text" value="{{this.lot_loc1}}"></td>
                            <td><input readonly  name="lot_loc" id="lot_loc2" type="text" value="{{this.lot_loc2}}"></td>
						</tr>

						<tr>	<!-- property_type -->
                            <th><label for="property_type">Property Type</label></th>
                            <td><input readonly  name="property_type" id="property_type" type="text" value="{{this.property_type}}"></td>
                            <td><input readonly  name="property_type1" id="property_type1" class="text-next-to-percentage" type="text" value="{{this.property_type1}}">
								<input readonly  class="percentage" id="property_type_percent1" name="property_type" type="number" value="{{this.property_type_percent1}}"> %
							</td>
                            <td><input readonly  name="property_type2" id="property_type2" class="text-next-to-percentage" type="text" value="{{this.property_type2}}">
								<input readonly  class="percentage" id="property_type_percent2" name="property_type" type="number" value="{{this.property_type_percent2}}"> %
							</td>
                        </tr>
						<tr>	<!-- property_interest -->
							<th><label for="property_interest" >Property Interest</label></th>
							<td><input readonly  name="property_interest" id="property_interest" type="text" value="{{this.property_interest}}"></td>
							<td><input readonly  name="property_interest" class="text-next-to-percentage" type="text" value="{{this.property_interest1}}">
								<input readonly  class="percentage" id="property_interest_percent1" name="property_interest" type="number" value="{{this.property_interest_percent1}}"> %
							</td>
							<td><input readonly  name="property_interest" class="text-next-to-percentage" type="text" value="{{this.property_interest2}}">
								<input readonly  class="percentage" id="property_interest_percent2" name="property_interest" type="number" value="{{this.property_interest_percent2}}"> %
							</td>
						</tr>


                        <tr>	<!-- propeerty area size / lot_size -->
                            <th><label for="lot_size">Property Area Size</label></th>
                            <td><input readonly  name="lot_size" id="lot_size" type="text" value="{{this.lot_size}}" readonly></td>
                            <td><input readonly  name="lot_siz1e" id="lot_size1" class="text-next-to-percentage" type="text" value="{{this.lot_size1}}">
								<input readonly  class="percentage" id="lot_size_percent1" name="lot_size" type="number" value="{{this.lot_size_percent1}}"> %
							</td>
                            <td><input readonly  name="lot_size2" id="lot_size2" class="text-next-to-percentage" type="text" value="{{this.lot_size2}}">
								<input readonly  class="percentage" id="lot_size_percent2" name="lot_size" type="number" value="{{this.lot_size_percent2}}"> %
							</td>
                        </tr>

						<tr>	<!-- shape -->
                            <th><label for="shape">Shape</label></th>
                            <td><input readonly  name="shape" type="text" id="shape" value="{{this.shape}}"></td>
                            <td><input readonly  name="shape" type="text" class="text-next-to-percentage" id="shape1" value="{{this.shape1}}">
								<input readonly  class="percentage" id="shape_percent1" name="shape" type="number" value="{{this.shape_percent1}}"> %
							</td>
                            <td><input readonly  name="shape" class="text-next-to-percentage" type="text" id="shape2" value="{{this.shape2}}">
								<input readonly  class="percentage" id="shape_percent2" name="shape" type="number" value="{{this.shape_percent2}}"> %
							</td>
                        </tr>

						<tr>	<!-- topo -->
                            <th><label for="topo">Topography</label></th>
                            <td><input readonly  name="topo" id="topo" type="text" value="{{this.topo}}"></td>
                            <td><input readonly  name="topo1" id="topo1" class="text-next-to-percentage" type="text" value="{{this.topo1}}">
								<input readonly  class="percentage" id="topo_percent1" name="topo" type="number" value="{{this.topo_percent1}}"> %
							</td>
                            <td><input readonly  name="topo2" id="topo2" class="text-next-to-percentage" type="text" value="{{this.topo2}}">
								<input readonly  class="percentage" id="topo_percent2" name="topo" type="number" value="{{this.topo_percent2}}"> %
							</td>
                        </tr>

						<tr>	<!-- frontage -->
                            <th><label for="frontage">Frontage</label></th>
                            <td><input readonly  name="frontage" id="frontage" type="text" value="{{this.frontage}}"></td>
                            <td><input readonly  name="frontage1" id="frontage1" class="text-next-to-percentage" type="text" value="{{this.frontage1}}">
								<input readonly  class="percentage" id="frontage_percent1" name="frontage" type="number" value="{{this.frontage_percent1}}"> %
							</td>
                            <td><input readonly  name="frontage2" id="frontage2" class="text-next-to-percentage" type="text" value="{{this.frontage2}}">
								<input readonly  class="percentage" id="frontage_percent2" name="frontage" type="number" value="{{this.frontage_percent2}}"> %
							</td>
                        </tr>

						<tr>	<!-- terms_of_sale -->
                            <th><label for="terms_of_sale">Terms of Sale</label></th>
                            <td><input readonly  name="terms_of_sale" id="terms_of_sale" type="text" value="{{this.terms_of_sale}}"></td>
                            <td><input readonly  name="terms_of_sale1" id="terms_of_sale1" class="text-next-to-percentage" type="text" value="{{this.terms_of_sale1}}">
								<input readonly  class="percentage" id="terms_of_sale_percent1" name="terms_of_sale" type="number" value="{{this.terms_of_sale_percent1}}"> %
							</td>
                            <td><input readonly  name="terms_of_sale2" id="terms_of_sale2" class="text-next-to-percentage" type="text" value="{{this.terms_of_sale2}}">
								<input readonly  class="percentage" id="terms_of_sale_percent2" name="terms_of_sale" type="number" value="{{this.terms_of_sale_percent2}}"> %
							</td>
                        </tr>

                        <tr>	<!-- Corner lot -->
							<th><label for="corner" >Is Corner Lot?</label></th>
                            <td><input readonly  name="corner" id="corner" type="text" value="{{this.corner}}"></td>
                            <td><input readonly  name="corner" id="corner1" class="text-next-to-percentage" type="text" value="{{this.corner1}}">
								<input readonly  class="percentage" id="corner_percent1" name="corner" type="number" value="{{this.corner_percent1}}"> %
							</td>
                            <td><input readonly  name="corner" id="corner2" class="text-next-to-percentage" type="text" value="{{this.corner2}}">
								<input readonly  class="percentage" id="corner_percent2" name="corner" type="number" value="{{this.corner_percent2}}"> %
							</td>
						</tr>
                        <tr>	<!-- Prime lot -->
						<th><label for="prime" >Is Prime Lot?</label></th>
						  <td><input readonly  name="prime" type="text" value="{{this.prime}}"></td>
							<td><input readonly  name="prime" class="text-next-to-percentage" type="text" value="{{this.prime1}}">
								<input readonly  class="percentage" id="prime_percent1" name="prime" type="number" value="{{this.prime_percent1}}"> %
							</td>
							<td><input readonly  name="prime" class="text-next-to-percentage" type="text" value="{{this.prime2}}">
								<input readonly  class="percentage" id="prime_percent2" name="prime" type="number" value="{{this.prime_percent2}}"> %
							</td>
									</tr>


                        <tr>	<!-- hospitals -->
										<th><label for="hospital" >Has nearby Hospital(s)?</label></th>
						  <td><input readonly  name="hospital" type="text" value="{{this.hospital}}"></td>
							<td><input readonly  name="hospital" class="text-next-to-percentage" type="text" value="{{this.hospital1}}">
								<input readonly  class="percentage" id="hospital_percent1" name="hospital" type="number" value="{{this.hospital_percent1}}"> %
							</td>
							<td><input readonly  name="hospital" class="text-next-to-percentage" type="text" value="{{this.hospital2}}">
								<input readonly  class="percentage" id="hospital_percent2" name="hospital" type="number" value="{{this.hospital_percent2}}"> %
							</td>
									</tr>

                       <tr>	<!-- school -->
										<th><label for="school" >Has nearby School(s)?</label></th>
						  <td><input readonly  name="school" type="text" value="{{this.school}}"></td>
							<td><input readonly  name="school" class="text-next-to-percentage" type="text" value="{{this.school1}}">
								<input readonly  class="percentage" id="school_percent1" name="school" type="number" value="{{this.school_percent1}}"> %
							</td>
							<td><input readonly  name="school" class="text-next-to-percentage" type="text" value="{{this.school2}}">
								<input readonly  class="percentage" id="school_percent2" name="school" type="number" value="{{this.school_percent2}}"> %
							</td>
									</tr>

                        <tr>	<!-- mall -->
										<th><label for="mall" >Has nearby Shop/Mall(s)?</label></th>
						 <td><input readonly  name="mall" type="text" value="{{this.mall}}"></td>
							<td><input readonly  name="mall" class="text-next-to-percentage" type="text" value="{{this.mall1}}">
								<input readonly  class="percentage" id="mall_percent1" name="mall" type="number" value="{{this.mall_percent1}}"> %
							</td>
							<td><input readonly  name="mall" class="text-next-to-percentage" type="text" value="{{this.mall2}}">
								<input readonly  class="percentage" id="mall_percent2" name="mall" type="number" value="{{this.mall_percent2}}"> %
							</td>
									</tr>

						<tr>	<!-- public transpo -->
							<th><label for="public_transpo" >Access to Main Public Transport</label></th>
							<td><input readonly  name="public_transpo" type="text" value="{{this.public_transpo}}"></td>
							<td><input readonly  name="public_transpo" class="text-next-to-percentage" type="text" value="{{this.public_transpo1}}">
								<input readonly  class="percentage" id="public_transpo_percent1" name="public_transpo" type="number" value="{{this.public_transpo_percent1}}"> %
							</td>
							<td><input readonly  name="public_transpo" class="text-next-to-percentage" type="text" value="{{this.public_transpo2}}">
								<input readonly  class="percentage" id="public_transpo_percent2" name="public_transpo" type="number" value="{{this.public_transpo_percent2}}"> %
							</td>
						</tr>
						<tr>	<!-- Improvement -->
										<th><label for="improvement" >Has Improvement(s)?</label></th>
						  <td><input readonly  name="improvement" type="text" value="{{this.improvement}}"></td>
							<td><input readonly  name="improvement" class="text-next-to-percentage" type="text" value="{{this.improvement1}}">
								<input readonly  class="percentage" id="improvement_percent1" name="improvement" type="number" value="{{this.improvement_percent1}}"> %
							</td>
							<td><input readonly  name="improvement" class="text-next-to-percentage" type="text" value="{{this.improvement2}}">
								<input readonly  class="percentage" id="improvement_percent2" name="improvement" type="number" value="{{this.improvement_percent2}}"> %
							</td>
									</tr>

						<tr>	<!-- zoning -->
                            <th><label for="zoning">Zoning</label></th>
                            <td><input readonly  name="zoning" id="zoning" type="text" value="{{this.zoning}}"></td>
                            <td><input readonly  name="zoning" id="zoning1" class="text-next-to-percentage" type="text" value="{{this.zoning1}}">
								<input readonly  class="percentage" id="zoning_percent1" name="zoning" type="number" value="{{this.zoning_percent1}}"> %
							</td>
                            <td><input readonly  name="zoning" name="zoning2" class="text-next-to-percentage" type="text" value="{{this.zoning2}}">
								<input readonly  class="percentage" id="zoning_percent2" name="zoning" type="number" value="{{this.zoning_percent2}}"> %
							</td>
                        </tr>
						<tr>
							<th></th>
							<th></th>
							<th>ADJUSTED VALUE & WEIGHT</th>
							<th>ADJUSTED VALUE & WEIGHT</th>
						</tr>
						<tr>
                            <th><label for="computation">Computation</label></th>
                            <td><input readonly name="computation" value="{{this.computation}}" id="computation" type="text"></td>
                            <td><input readonly name="computation" class="text-next-to-percentage" value="{{this.computation1}}" id="computation1" type="text">
								<input readonly class="percentage" id="computation_percent1" value="{{this.computation_percent1}}" name="computation" type="number"> %
							</td>
                            <td><input readonly name="computation" class="text-next-to-percentage" value="{{this.computation2}}" id="computation2" type="text">
								<input readonly class="percentage" id="computation_percent2"  value="{{this.computation_percent2}}" name="computation" type="number"> %
							</td>
                        </tr>  
                        <tr>
                            <th><label for="range_value_per_sqm">Range of the Values per Sqm</label></th>
                            <td><input readonly name="range_value_per_sqm" id="range_value_per_sqm" type="text"></td>
                            <th><label for="final_value"></label>Final Value</label></th>
                            <td><input readonly name="final_value" id="final_value" type="text"></td>
                        </tr>
                        <script>
                            var range1_value = parseInt(document.getElementById("price_per_sqm1").value);
                            var range2_value = parseInt(document.getElementById("price_per_sqm2").value);
                            var range_value_per_sqm = document.getElementById("range_value_per_sqm");
                            if(range2_value > range1_value){
                                range_value_per_sqm.value = parseInt(range1_value) + ' - ' + parseInt(range2_value);
                            }else if(range2_value < range1_value){
                                range_value_per_sqm.value = parseInt(range2_value) + ' - ' + parseInt(range1_value);
                            }else{
                                range_value_per_sqm.value = parseInt(range1_value);
                            }

                            var pricesqm = parseInt(document.getElementById("price_per_sqm").value);
                            var lotarea = parseInt(document.getElementById("lot_size").value);
                            var final_value = document.getElementById("final_value");
                            final_value.value = parseInt(pricesqm)*parseInt(lotarea);
                        </script> 
                    </table>
                </div>
                <br><br><br>
				{{#each doc_details}}
				<div class="main-header">
					<h1>Document Details for Printing</p>
				</div>
				<div class="main-table">
					<table>
					<tr>
						<th><label for="improvements">Improvements</label></th>
						<td><input readonly type="text" id="improvements" name="improvements" value="{{this.improvements}}" ></td>
					</tr>
					<tr>
						<th><label for="zoning_classification">Zoning Classification</label></th>
						<td><input readonly type="text" id="zoning_classification" name="zoning_classification" value="{{this.zoning_classification}}" ></td>
					</tr>
					<tr>
						<th><label for="property_identification">Property Identification</label></th>
						<td><textarea id="property_identification" name="property_identification" style="width:80%;" rows="10" readonly>{{this.property_identification}}</textarea></td>
					</tr>
					<tr>
						<th><label for="appraisal_objective_property_rights">Appraisal Objective and Property Rights</label></th>
						<td><textarea id="appraisal_objective_property_rights" name="appraisal_objective_property_rights" style="width:80%;" rows="10" readonly>{{this.appraisal_objective_property_rights}}</textarea></td>
					</tr>
					<tr>
						<th><label for="intended_use_intended_users">Inteded Use and Intended Users</label></th>
						<td><textarea id="intended_use_intended_users" name="intended_use_intended_users" style="width:80%;" rows="10" readonly>{{this.intended_use_intended_users}}</textarea></td>
					</tr>
					<tr>
						<th><label for="effective_date_report">Effective Date of Report</label></th>
						<td><textarea id="effective_date_report" name="effective_date_report" style="width:80%;" rows="10" readonly>{{this.effective_date_report}}</textarea></td>
					</tr>
					<tr>
						<th><label for="statement_ownership_sales_history">Statement of Ownership and Sales History</label></th>
						<td><textarea id="statement_ownership_sales_history" name="statement_ownership_sales_history" style="width:80%;" rows="10" readonly>{{this.statement_ownership_sales_history}}</textarea></td>
					</tr>
					<tr>
						<th><label for="scope_of_work">Scope of Work</label></th>
						<td><textarea id="scope_of_work" name="scope_of_work" style="width:80%;" rows="10" readonly>{{this.scope_of_work}}</textarea></td>
					</tr>

					<tr>
						<th><label for="utilities">Utilities</label></th>
						<td><input readonly type="text" id="utilities" name="utilities" value="{{this.utilities}}" ></td>
					</tr>
					<tr>
						<th><label for="flood">Flood</label></th>
						<td><input readonly type="text" id="flood" name="flood" value="{{this.flood}}" ></td>
					</tr>
					<tr>
						<th><label for="easements">Easements</label></th>
						<td><input readonly type="text" id="easements" name="easements" value="{{this.easements}}" ></td>
					</tr>
					<tr>
						<th><label for="real_estate_taxes">Real Estate Tax</label></th>
						<td><input readonly type="text" id="real_estate_taxes" name="real_estate_taxes" value="{{this.real_estate_taxes}}" ></td>
					</tr>

					<tr>
						<th><label for="description_improvements">Description of Improvements</label></th>
						<td><textarea id="description_improvements" name="description_improvements" style="width:80%;" rows="10" readonly>{{this.description_improvements}}</textarea></td>
					</tr>
					<tr>
						<th><label for="area_development">Area Development</label></th>
						<td><textarea id="area_development" name="area_development" style="width:80%;" rows="10" readonly>{{this.area_development}}</textarea></td>
					</tr>
					<tr>
						<th><label for="market_analysis">Market Analysis</label></th>
						<td><textarea id="market_analysis" name="market_analysis" style="width:80%;" rows="10" readonly>{{this.market_analysis}}</textarea></td>
					</tr>

					<tr>
						<th><label for="conclusion">Conclusion</label></th>
						<td><textarea id="conclusion" name="conclusion" style="width:80%;" rows="10" readonly>{{this.conclusion}}</textarea></td>
					</tr>
					<tr>
						<th><label for="explanation_adjustments">Explanation of Adjustments</label></th>
						<td><textarea id="explanation_adjustments" name="explanation_adjustments" style="width:80%;" rows="10" readonly>{{this.explanation_adjustments}}</textarea></td>
					</tr>

					<tr>
						<th><label for="recon_final_value_opinion">Reconciliation and Final Value Opinion</label></th>
						<td><textarea id="recon_final_value_opinion" name="recon_final_value_opinion" style="width:80%;" rows="10" readonly>{{this.recon_final_value_opinion}}</textarea></td>
					</tr>
					</table>
				</div>

				{{/each}}

        <script async>
        var ref_id = document.getElementById("ref_id").value;
        var client_name = document.getElementById("client_name").value;
        var gen_lot_loc = document.getElementById("gen_lot_loc").value;
        var property_type = document.getElementById("property_type").value;

        var assigned_to = document.getElementById("assigned_to").value;
        var appnum = document.getElementById("app_appnum").value;
        var appraiser_address = document.getElementById("appraiser_address").value;
   
        completed_on = document.getElementById("completed_on").value;
        created_at = document.getElementById("created_at").value;

        var title_no = document.getElementById("title_no").value;
        var lot_size = document.getElementById("lot_size").value;

        var improvements = document.getElementById("improvements").value;
        var zoning_classification = document.getElementById("zoning_classification").value;
        var property_interest = document.getElementById("property_interest").value;

        var property_identification = document.getElementById("property_identification").value;
        var appraisal_objective_property_rights = document.getElementById("appraisal_objective_property_rights").value;
        var intended_use_intended_users = document.getElementById("intended_use_intended_users").value;
        var effective_date_report = document.getElementById("effective_date_report").value;
        var statement_ownership_sales_history = document.getElementById("statement_ownership_sales_history").value;
        var scope_of_work = document.getElementById("scope_of_work").value;

        var shape = document.getElementById("shape").value;
        var frontage = document.getElementById("frontage").value;
        var topo = document.getElementById("topo").value;
        var utilities = document.getElementById("utilities").value;
        var flood = document.getElementById("flood").value;
        var easements = document.getElementById("easements").value;
        var real_estate_taxes = document.getElementById("real_estate_taxes").value;

        var description_improvements = document.getElementById("description_improvements").value;
        var area_development = document.getElementById("area_development").value;
        var market_analysis = document.getElementById("market_analysis").value;
        var conclusion = document.getElementById("conclusion").value;
        var explanation_adjustments = document.getElementById("explanation_adjustments").value;
        var recon_final_value_opinion = document.getElementById("recon_final_value_opinion").value;

        var price_per_sqm = document.getElementById("computation").value;
        var range_value_per_sqm = document.getElementById("range_value_per_sqm").value;
        var final_value = document.getElementById("final_value").value;
        

        var docDefinition = {
        pageSize: 'LETTER',
        pageMargins: [80, 80],
        header: function(currpage){
            if (currpage != 1){
            return [{
                columns: [
                {
                    width: '*',
                    text: 'Appraisal of Real Property for ' + property_type, alignment: 'left', margin: [80, 20]
                },
                {
                    width: '*',
                    text: currpage.toString(), alignment: 'right', margin: [80, 20]
                }
                ],
            }]
            }
        },
        content: [
            {text: '\n\n\n\nAppraisal of Real Estate \nFor', style: 'title'},
            {text: property_type + '\n\n', style: 'title', color: 'green'},
            {canvas: [
            {
                type: 'line',
                x1: 50, y1: -10,
                x2: 400, y2: -10,
                lineWidth: 1
            }
            ]},
            {text: gen_lot_loc + '\n\n\n\n\n', style: 'titletext'},
            {text: 'As Of: \n' + completed_on + '\n\n\n\n\n', style: 'h1'},
            {text: 'Prepared for \n' + client_name + '\n' + gen_lot_loc + '\n\n\n\n\n', style: 'h1'},
            {text: 'Prepared By\n', style: 'h1'},
            {text: assigned_to +  ', REA Lic. No. ' + appnum + '\n' + appraiser_address, style: 'apptext', pageBreak: 'after'},

            {text: '\n\nTransmittal Letter\n\n\n', style: 'h2'},
            {columns: [
                {text: client_name},
                {text: completed_on + '\n\nRe: Summary Appraisal Report \n' + property_type + ' ' + lot_size + ' sqm \n' + gen_lot_loc}
            ]},

            {text: '\n\n\nDear Mr./Ms. ' + client_name + ',\n\n'},
            {text: 'In accordance with your request, I have made an investigation and appraisal of the above captioned property for the purpose of estimating the Market Value in the Fee Simple Interest. The effective date of the appraisal is ' + created_at },
            {text: '\n\nSubmitted here with is my report containing facts and data gathered.\n\n'},
            {text: 'The method of appraising is detailed in the attached narrative report as of ' + created_at + '. It is my opinion that the Market Value with Fee Simple Interest in the subject property, subject to the attached limiting conditions, is:'},
            {text: final_value, style: 'appraisalval'},
            {text: '\n\nIt has been a pleasure to serve you in this matter.\n\n\n\n'},
            {text: 'Respectfully submitted,\n\n\n\n', margin: [0, 0, 5, 5], alignment: 'right'},
            {text: assigned_to, margin: [0, 0, 5, 0], alignment: 'right'},
            {text: 'Certified Real Estate Appraiser # ' + appnum, margin: [0, 0, 5, 0], alignment: 'right', pageBreak: 'after'},

            {text: 'Appraisal Summary\n\n\n', style: 'h2'},
            {table: {
                heights: 40,
                widths: ['*', '*'],
                body: [
                    ['Intended User of Appraisal:', client_name],
                    ['Property Type:', property_type],
                    ['Property Address:', gen_lot_loc],
                    ['Title No.:', title_no],
                    ['Owner: ', client_name],
                    ['Land Size: ', lot_size + ' square meters'],
                    ['Improvements: ', improvements],
                    ['Zoning Classification:', zoning_classification],
                    ['Interest Appraised:', property_interest],
                    ['Effective Date of Appraisal:', created_at],
                    ['Date of Report:', completed_on],
                    ['Final Estimate of Value:', 'Php ' + final_value]
                ]
                },
                layout: 'noBorders',
                pageBreak: 'after'
            },

            {text: 'Assumptions and Limiting Conditions\n\n', style: 'h2'},
            {text: 'The appraisal is made subject to the following conditions and assumptions\n\n'},
            {ol: [
                'Any legal description or plans reported herein are assumed to be accurate. Any drawings attached to assist the reader in visualizing the property. I have made no survey of the property and assume no responsibility in connection with such matters.\n\n',
                'No responsibility is assumed for matters legal in nature. Title is assumed to be good and marketable and in fee simple. The property is appraised as free and clear of existing liens and encumbrances.\n\n',
                'No soil analysis or geological studies were made in conjunction with this report.\n\n',
                'It is assumed that there are no encroachments, zoning or restriction violations affecting the subject property.\n\n',
                'The property is assumed to be under competent and aggressive management.\n\n',
                'Information, estimates, and opinion used in this appraisal are obtained from sources considered reliable; however, no liability for them can be assumed by the appraiser.\n\n',
                'The value estimates reported herein apply to the entire property and any proration or division of the total into fractional interests will invalidate the value estimate.\n\n',
                'This report may not be used for any purpose other than as stated in the report, by anyone other than the client without prior consent of the appraiser.\n\n',
                'Neither all nor any part of the contents of this report shall be conveyed to the public through advertising, public relations, news, sales, or other media, without the prior written consent and approval of the appraiser. This pertains particularly to valuation conclusions, the identity of the appraiser, or firm with which she is associated.\n\n',
                'The final value estimate has been concluded on the basis that property is environmentally compliant. Further, the land area was based on information provided by the owner and/or public records. If the actual land area is different from the area used in this report, the appraiser reserves the right to modify this report.\n\n',
                'The final value estimate has been concluded on the basis that the property is not subject to flooding nor within fault range. A certified survey is recommended.\n\n',
                'Any erasure on appraisal date and values invalidates this report.\n\n',
                'The appraisal report is invalid unless it bears the signature of the appraiser and conformity of client.'
            ], pageBreak: 'after'},

            {text: "Appraiser's Certification\n\n", style: 'h2'},
            {text: 'I certify, to the best of my knowledge and belief:\n\n'},
            {ol: [
                'That statements of facts contained in this report are true and correct.\n\n',
                'That I have diligently used all possible means of verifying the physical character, location and kind of neighborhood of the subject property and the comparables that are available given the travel restrictions imposed by the Inter-Agency Task Force on Emerging Infectious Diseases (IATF)\n\n',
                'That I have taken into consideration factors which may affect its value and the highest and best use of the property\n\n',
                'That the reported analyses, opinions, and conclusions in this report are limited only by the assumptions and limiting conditions stated in this report, and are my personal, unbiased professional analyses, opinions, and conclusions.\n\n',
                'That I have no present nor contemplated future interest in the subject property.\n\n',
                'That my compensation is not contingent upon the reporting of a predetermined value\n\n',
                'That my analyses, opinions, and conclusions were developed, and this report was prepared in conformity with the Philippine Valuation Standards and the Code of Conducts for real estate appraisers.\n\n\n\n\n\n\n\n'
            ]},
            {canvas: [
            {
                type: 'line',
                x1: 250, y1: -10,
                x2: 450, y2: -10,
                lineWidth: 1
            }
            ]},
            {text: assigned_to + '- REA #' + appnum, alignment: 'right'},
            {text: '\n\n\nApproved by the Admin', alignment: 'right', pageBreak: 'after'},

            {text: 'Assignment Description\n', style: 'h2'},
            {text: 'A. Property Identification\n\n', style: 'h3'},
            {text: '\t\t\t' + property_identification, preserveLeadingSpaces: true},
            {text: '\nAppraisal objective and property rights\n\n', style: 'h3'},
            {text: '\t\t\t' + appraisal_objective_property_rights, preserveLeadingSpaces: true},
            {text: '\nIntended use and intended users\n\n', style: 'h3'},
            {text: '\t\t\t' + intended_use_intended_users, preserveLeadingSpaces: true},
            {text: '\nEffective Date of Appraisal/Report Date\n\n', style: 'h3'},
            {text: '\t\t\t' + effective_date_report, preserveLeadingSpaces: true},
            {text: '\nStatement of ownership and sales history\n\n', style: 'h3'},
            {text: '\t\t\t' + statement_ownership_sales_history, preserveLeadingSpaces: true},
            {text: '\nB. Scope of Work\n\n', style: 'h3'},
            {text: '\t\t\t' + scope_of_work + '\n\n', preserveLeadingSpaces: true, pageBreak: 'after'},

            {text: 'Property Description\n\n', style: 'h2'},
            {text: 'A. Description of Lot.\n\n', style:'h3'},
            {table: {
                heights: 40,
                widths: ['*', '*'],
                body: [
                    ['Title No.:', title_no],
                    ['Location:', gen_lot_loc],
                    ['Property Type:', property_type],
                    ['Land Area: ', lot_size + ' square meters'],
                    ['Shape: ', shape],
                    ['Frontage:', frontage],
                    ['Topography::', topo],
                    ['Utilities:', utilities],
                    ['Flood:', flood],
                    ['Easements:', easements],
                    ['Real Estate Taxes:', real_estate_taxes],
                    ['Zoning:', zoning_classification]
                ]
                },
                layout: 'noBorders'
            },
            {text: 'B. Description of Improvements.\n\n', style:'h3'},
            {text: '\t\t\t' + description_improvements + '\n\n', preserveLeadingSpaces: true, pageBreak: 'after'},

            {text: 'Area and Neighborhood Overview\n\n', style: 'h2'},
            {text: '\t\t\tThe purpose of this analysis is to review historic and projected economic data to ' +
            'determine whether ' + gen_lot_loc + ' and the subject neighborhood will experience ' +
            'future economic stability, or decline, given the current situation.\n\n\n', preserveLeadingSpaces: true,},
            {text: 'A. Area Development.\n\n', style: 'h3'},
            {text: '\t\t\t' + area_development + '\n\n', preserveLeadingSpaces: true},
            {text: 'B. Market Analysis\n\n', style: 'h3'},
            {text: '\t\t\t' + market_analysis + '\n\n', preserveLeadingSpaces: true, pageBreak: 'after'},

            {text: 'Valuation\n\n', style: 'h2'},
            {text: 'A. Highest and Best Use\n\n', style: 'h3'},
            {text: '\t\t\t' + 'Highest and Best Use is a real estate valuation principle that dictates that the market ' +
            'tends to put property to its most profitable use which provides the greatest benefits of ' +
            'ownership. The Philippine Valuation Standards, 2nd Edition, defines highest and best use as ' +
            'the use of an asset that maximizes its potential and that is possible, legally permissible, and ' +
            'financially feasible. The highest and best use may be for continuation of an asset’s existing use ' +
            'or for some alternative use.' + '\n\n' +
            'Because the principle of highest and best use reflects the actions of the market, ' +
            'generally accepted professional appraisal practice requires that the subject property must be ' +
            'valued under this premise.' + '\n\n', preserveLeadingSpaces: true},
            {text: '\tLegal Permissibility\n\n', style: 'h3'},
            {text: '\t\t\t' + 'As previously noted, the subject property is zoned RR – Residential Regular. Any ' +
            'improvement or renovation on the property for the purpose of dwelling is allowed. There are no other legal ' +
            'restrictions other than the deed of restrictions that would adversely impact the property or prohibit the use of dwelling. ' +
            'Ordinary utility and storm water easements that may be present are not considered to ' +
            'impact the subject property negatively.' + '\n\n', preserveLeadingSpaces: true},
            {text: '\tPhysical Possibility\n\n', style: 'h3'},
            {text: '\t\t\t' + 'The physical characteristics of the site such as size, shape, terrain, and existence of ' +
            'utility availability affect the potential use of the site. As previously noted, the site is well ' +
            'located and appropriated for residential use.' + '\n\n', preserveLeadingSpaces: true},
            {text: '\tFinancial Feasibility\n\n', style: 'h3'},
            {text: '\t\t\t' + 'A use is considered financially feasible if it is likely to produce an income or return ' +
            'equal to or greater than the amount needed to satisfy operating expenses, financial obligations, and capital ' +
            'amortization of the investment, if there is any. Although, as previously noted, there are leased properties in ' +
            'the area, they are not considered a regular source of income. Further, apartment type of dwellings are not allowed ' +
            'at the site under the deed restrictions.' + '\n\n', preserveLeadingSpaces: true},
            {text: '\tMaximum Productivity\n\n', style: 'h3'},
            {text: '\t\t\t' + 'The maximum productive use of the site is the financially feasible use that produces ' +
            'the highest net return to the land. Therefore, it is determined that the maximum productive ' +
            'use of the subject property is the continuation of an asset’s existing use.' + '\n\n', preserveLeadingSpaces: true},
            {text: '\tConclusion\n\n', style: 'h3'},
            {text: '\t\t\t' + conclusion + '\n\n', preserveLeadingSpaces: true},

            {text: 'B. The Valuation Process\n\n', style: 'h3'},
            {text: '\t\t\t' + 'The valuation process is the orderly program in which data used to estimate the value of ' +
            'the subject property are acquired, classified, analyzed, and presented. The data are analyzed ' +
            'within the three (3) approaches to value: Market Data Approach, Cost Approach, and Income ' +
            'Capitalization Approach. The approaches utilized in an appraisal depend on the type of ' +
            'property, intended use of the appraisal, the scope of work, and the quality and quantity of data ' +
            'available for analysis.' + '\n\n', preserveLeadingSpaces: true},
            {text: '\tMarket Data Approach.\n\n', style: 'h3'},
            {text: '\t\t\t' + 'The Market Data Approach is most useful when a number of similar properties have ' +
            'recently been sold or are currently for sale in the subject property’s market. Using this ' +
            'approach, a value indication is produced by comparing the subject with similar ' +
            'properties available within the neighborhood having the same property development concept.' +
            '\n\n', preserveLeadingSpaces: true},
            /*{text: "Comparables'\n\n", style: 'h3'},
            {table: {
                heights: 40,
                widths: ['*', '*', '*', '*'],
                headerRows: 1,
                body: [
                    [{text: 'Particulars', style: tableheader}, {text: 'Subject', style: tableheader}, {text: 'Comp 1', style: tableheader}, {text: 'Comp 2', style: tableheader}],
                    [{text: 'Lot Area', style: tablebold}, subject.lot_size, comp1.lotsize, comp2.lotsize],
                    [{text: 'Price / sqm', style: tablebold}, subject.price_per_sqm, comp1.price_per_sqm, comp2.price_per_sqm],
                    [{text: 'Reference Date', style: tablebold}, subject.ref_date, comp1.ref_date, comp2.ref_date],
                    [{text: 'Corner Lot', style: tablebold}, subject.corner, comp1.corner, comp2.corner],
                    [{text: 'Prime Lot', style: tablebold}, subject.prime, comp1.prime, comp2.prime],
                    [{text: 'Near a Hospital', style: tablebold}, subject.hospital, comp1.hospital, comp2.hospital],
                    [{text: 'Near a School', style: tablebold}, subject.school, comp1.school, comp2.school],
                    [{text: 'Has Public Transportation', style: tablebold}, subject.public_transpo, comp1.public_transpo, comp2.public_transpo],
                    [{text: 'Shape', style: tablebold}, subject.shape, comp1.shape, comp2.shape],
                    [{text: 'Frontage', style: tablebold}, subject.frontage, comp1.frontage, comp2.frontage],
                    [{text: 'Topography', style: tablebold}, subject.topo, comp1.topo, comp2.topo],
                    [{text: 'Zoning', style: tablebold}, subject.zoning, comp1.zoning, comp2.zoning],
                    [{text: 'Improvements', style: tablebold}, subject.improvement, comp1.improvement, comp2.improvement],
                    [{text: 'Total Adjustments', style: tablebold}, subject.computation, comp1.computation, comp2.computation]
                ]
            },
            pageBreak: 'after',
            },*/

            {text: 'C. Explanation of Adjustments\n\n', style: 'h3'},
            {text: '\t\t\t' + explanation_adjustments + '\n\n', preserveLeadingSpaces: true},
            {text: "D. Value Indications'\n\n", style: 'h3'},
            {table: {
                heights: 40,
                widths: ['*', '*'],
                //headerRows: 1,
                body: [
                    ['Value Indications', 'Value per sqm.'],
                    ['Range', range_value_per_sqm + ' sqm'],
                    ['Final Value Indication', price_per_sqm + ' per sqm']
                ]
                },
                pageBreak: 'after'
            },

            {text: 'Reconciliation and Final Value Opinion\n\n', style: 'h2'},
            {text: '\t\t\t' + recon_final_value_opinion + '\n\n', preserveLeadingSpaces: true},
            {table: {
                heights: 40,
                widths: ['*', '*', '*'],
                //headerRows: 1,
                body: [
                    ['Approaches to Value', 'Value', 'Value per sqm'],
                    ['Market Data Approach', 'Php ' + final_value, price_per_sqm + ' per sqm'],
                    ['Final Value Indication', 'Php ' + final_value, price_per_sqm + ' per sqm']
                ]
            }
            },
            //{text: price_per_sqm},
            //{text: range_value_per_sqm},
            {text: '\n\n\t\t\tBased on the investigation of the subject property and the analysis of all relevant data, the Fee Simple Market Value of the subject property, as of' + completed_on + ', is:\n\n\n', preserveLeadingSpaces: true},
            {text: final_value, style: 'appraisalval'}
            ],
        defaultStyle:{
            fontSize: 11,
            alignment: 'justify'
        },
        styles:{
            title: {
                fontSize: 18,
                bold: true,
                alignment: 'center'
            },
            h1: {
                fontSize: 16,
                alignment: 'center'
            },
            h2: {
                fontSize: 14,
                bold: true,
                alignment: 'center'
            },
            h3: {
                fontSize: 12,
                bold: true,
            },
            titletext: {
                alignment: 'center',
                fontSize: 14
            },
            apptext: {
                alignment: 'center'
            },
            appraisalval: {
                fontSize: 14,
                alignment: 'center',
                color: 'green'
            },
            tablehead: {
                bold: true,
                fontSize: 14
            },
            tablebold: {
                bold: true
            }
        }
        };
        
        function downloadPDF(){
            pdfMake.createPdf(docDefinition).download(ref_id+'.pdf');
        }
    </script>

				<div id="main-table-bottom">
					</div>
						<!-- dito mo na lagay yung code mo sa download pdf/save as pdf  erin -->
						<button onclick="downloadPDF()">Download PDF</button>

						<!-- will make it so that the comment will be "For Printing." again and agent can edit the doc -->
						<button>Unlock Document</button>
						<br><br><br>
					</div>
				</div>
            </form>
      </div>
  </body>
  </html>
