<!DOCTYPE html>

<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
<head>
    <link rel = "stylesheet" href="/agent_ass_view.css" type="text/css" >
    <link rel = "stylesheet" href="/pager0.css" type="text/css" >
	<link rel = "stylesheet" href="/styles.css" type="text/css" >

    <title>Assignment No. {{this.ref_id}}</title>
    <script>


    </script>


      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

  </head>
  <body>
      <div class="container">
          <div id="sidebar">
              <div class="sidebar-profile">
                  <img src="/temp_pic.png" width="100" height="100">
                  <div class="sidebar-profile-text">
                      <p class="sidebar-profile-name">{{this.username}}</p>
                      <p class="sidebar-profile-email"><i>{{this.email}}</i></p>
                      <a href="/logout">Log Out</a>
                  </div>
              </div>

              <div class="sidebar-profile-btn">

                  <a href="/dashboard">Profile</a>
              </div>
              <div class="sidebar-assignments-btn">

                  <a  href="/assignments">Assignments</a>
              </div>
              <div class="sidebar-history-btn">
                        <a  href="/admin-add-agent">Add New Agent</a>
              </div>
              <div class="sidebar-history-btn">
                        <a  href="/account">See All Agents</a>
              </div>
              <div class="sidebar-history-btn">

                  <a  href="/history">History</a>
              </div>
              <div class="sidebar-settings-btn">

                  <a href="/profile">Settings</a>
              </div>

              <div class="bottom-button">

                  <a href="/logout">Logout</a>
              </div>
          </div>

      <div class="openbtn" >
        <a href="#" onclick="openNav()">☰</a>
      </div>

          <div class="main">
              <div class="main-header">
                  <h1>Editing Assignment #{{ref_id}}</p>
                  <p><b><i>Items will NOT be autosaved!</b></i></p>
                  <p>Please be mindful before you close the page. This assignment will be hidden until you save or navigate back to Assignments.</p>
              </div>

              <form class="assignments-form">
                  <div class="main-table">

					<table>
						<tr>
							<th></th>
							<th>ADMIN</th>
							<th>PANEL</th>
							<th></th>
						</tr>
                        <tr>	<!-- ref_id & creation date -->
                            <th><label for="ref_id">Reference ID</label></th>
                            <td><input name="ref_id" type="number" value="{{this.ref_id}}" readonly></td>
								<!-- type_of_approach & assigned appraiser -->
                            <th><label for="type_of_approach">Type of Approach</label></th>
							<td><input name="type_of_approach" type="text" value="{{this.type_of_approach}}" readonly></td>
                        </tr>

						<tr>	<!-- client_name -->
                            <th><label for="client_name">Client First Name</label></th>
                            <td><input name="client_name" type="text" value="{{this.client_f_name}}"></td>

                            <th><label for="client_name">Client Last Name</label></th>
                            <td><input name="client_name" type="text" value="{{this.client_l_name}}"></td>

                        </tr>

					    <tr>	<!-- Contact Info -->
							<th><label for="client_email">Client Esaamail</label></th>
							<td><input name="client_email" id="client_email" type="text" value="{{this.client_email}}"></td>

                            <th><label for="client_contact_num">Client Contact Number</label></th>
                            <td><input name="client_contact_num" id="client_contact_num" type="text" value="{{this.client_contact_num}}"></td>
                        </tr>

						<tr>	<!-- lot_brgy,city,region - will serve as general location for interest check of agents/appraisers & zonal value-->
							<th><label for="gen_lot_loc">Lot Baranggay</label></th>
							<td><input name="gen_lot_loc" type="text" value="{{this.lot_brgy}}"></td>

							<th><label for="gen_lot_loc">Lot City</label></th>
							<td><input name="gen_lot_loc" type="text" value="{{this.lot_city}}"></td>
						</tr>

						<tr>
                            <th><label for="lot_region">Lot Region</label></th>
							<td><select id="lot_region" name="lot_region" value="{{this.lot_region}}">
								<option value="Region I">Region I (Ilocos Region)</option>
								<option value="Region II">Region II (Cagayan Valley)</option>
								<option value="Region III">Region III (Central Luzon)</option>
								<option value="Region IV">Region IV-A (CALABARZON)</option>
								<option value="Region V">Region V (Bicol Region)</option>
								<option value="Region VI">Region VI (Western Visayas)</option>
								<option value="Region VII">Region VII (Central Visayas)</option>
								<option value="Region VIII">Region VIII (Eastern Visayas)</option>
								<option value="Region IX">Region IX (Zamboanga Peninsula)</option>
								<option value="Region X">Region X (Northern Mindanao)</option>
								<option value="Region XI">Region XI (Davao Region)</option>
								<option value="Region XII">Region XII (SOCCSKSARGEN)</option>
								<option value="NCR">NCR (National Capital Region)</option>
								<option value="CAR">CAR (Cordillera Administrative Region)</option>
								<option value="ARMM">ARMM (Autonomous Region in Muslim Mindanao Region)</option>
								<option value="RXIII">Region XIII (Caraga)</option>
								<option value="MIMAROPA">MIMAROPA</option>
							</select></td>

							<th><label for="zonal">Zonal Value</label></th>
                            <td><input name="zonal" type="number" value="{{this.zonal}}"></td>

                            <th><label for="title_no">Title No</label></th>
                            <td><input name="title_no" type="text" value="{{this.title_no}}"></td>
                        </tr>
                    </table>
                  </div>
              <div id="main-table-bottom">
                </div>
					<!-- /admin-save-ass will make the assigned_to back to "" and update all the details TODO -->
					<button type = "submit" name="save_ass" formaction="/save-ass">Save Details</button>
				</div>
              </form>
          </div>
      </div>
  </body>
  </html>
