<!DOCTYPE html>

<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
<head>
    <link rel = "stylesheet" href="/agent_ass_view.css" type="text/css" >
    <link rel = "stylesheet" href="/pager0.css" type="text/css" >
	<link rel = "stylesheet" href="/styles.css" type="text/css" >

    <title>Assignment No. {{this.ref_id}}</title>
	<script>
		function computer()
		{
			var value0 = 0;
			var value1 = 0;
			var value2 = 0;

			//COMPARATIVE 1
			var ref_date1 = parseInt(document.getElementById("ref_date_percent1").value);
			var property_type1 = parseInt(document.getElementById("property_type_percent1").value);
			var property_interest1 = parseInt(document.getElementById("property_interest_percent1").value);
			var size1 = parseInt(document.getElementById("lot_size_percent1").value);
			var shape1 = parseInt(document.getElementById("shape_percent1").value);
			var topo1 = parseInt(document.getElementById("topo_percent1").value);
			var frontage1 = parseInt(document.getElementById("frontage_percent1").value);
			var terms_of_sale1 = parseInt(document.getElementById("terms_of_sale_percent1").value);
			var corner1 = parseInt(document.getElementById("corner_percent1").value);
			var prime1 = parseInt(document.getElementById("prime_percent1").value);
			var hospital1 = parseInt(document.getElementById("hospital_percent1").value);
			var school1 = parseInt(document.getElementById("school_percent1").value);
			var mall1 = parseInt(document.getElementById("mall_percent1").value);
			var public_transpo1 = parseInt(document.getElementById("public_transpo_percent1").value);
			var improvement1 = parseInt(document.getElementById("improvement_percent1").value);
			var zoning1 = parseInt(document.getElementById("zoning_percent1").value);


			//mixed bools, 6 because there are 6 booleans
			// todo make this return the resultsofr bools
			//for (var i=0; i=6; i++)
			//{
			//}


			<!-- var corner_bool = document.getElementById("corner"); -->

			// todo: https://www.geeksforgeeks.org/how-to-add-a-parameter-to-the-url-in-javascript/
			// workaround - get the bool val of each and put them inside an array to be put in the url as part of req.param nalang
			// tapos get the backend to check the params
			var checked_items = document.getElementsByName("corner")

    //  const boolArray = new Array(corner[1], prime[1], hospital[1], school[1], mall[1], improvement[1]);
    //  for (let i = 0; i < boolArray.length; i++) {
    //    if (boolArray[i].checked){
    //      boolArray[i] = true;
    //    }
    //    else {
    //      boolArray[i] = false;
    //    }
    //  }
			// WORKING PATRT - checked_items[0].checked = true if naka check


							//[corner_bool[0].checked,
								//	corner1.checked,
								//	corner1.checked,
								//	corner1.checked ]


			//var bools_percent = document.getElementById("bools_percent") // dont forget to parse to int when using

			var ref_date2 = parseInt(document.getElementById("ref_date_percent2").value);
			var property_type2 = parseInt(document.getElementById("property_type_percent2").value);
			var property_interest2 = parseInt(document.getElementById("property_interest_percent2").value);
			var size2 = parseInt(document.getElementById("lot_size_percent2").value);
			var shape2 = parseInt(document.getElementById("shape_percent2").value);
			var topo2 = parseInt(document.getElementById("topo_percent2").value);
			var frontage2 = parseInt(document.getElementById("frontage_percent2").value);
			var terms_of_sale2 = parseInt(document.getElementById("terms_of_sale_percent2").value);
			var corner2 = parseInt(document.getElementById("corner_percent2").value);
			var prime2 = parseInt(document.getElementById("prime_percent2").value);
			var hospital2 = parseInt(document.getElementById("hospital_percent2").value);
			var school2 = parseInt(document.getElementById("school_percent2").value);
			var mall2 = parseInt(document.getElementById("mall_percent2").value);
			var public_transpo2 = parseInt(document.getElementById("public_transpo_percent2").value);
			var improvement2 = parseInt(document.getElementById("improvement_percent2").value);
			var zoning2 = parseInt(document.getElementById("zoning_percent2").value);


			var startingValue0 = parseInt(document.getElementById("price_per_sqm").value);
			var startingValue1 = parseInt(document.getElementById("price_per_sqm1").value);
			var startingValue2 = parseInt(document.getElementById("price_per_sqm2").value);

			value1 = startingValue1 + (startingValue1*ref_date1*0.01) +
			(startingValue1*property_type1*0.01)+
			(startingValue1*property_interest1*0.01)+
			(startingValue1*size1*0.01) +
			(startingValue1*shape1*0.01) +
			(startingValue1*topo1*0.01) +
			(startingValue1*frontage1*0.01) +
			(startingValue1*terms_of_sale1*0.01) +
			(startingValue1*corner1*0.01) +
			(startingValue1*prime1*0.01) +
			(startingValue1*hospital1*0.01) +
			(startingValue1*school1*0.01) +
			(startingValue1*mall1*0.01)+
			(startingValue1*improvement1*0.01)+
			(startingValue1*public_transpo1*0.01) +
			(startingValue1*zoning1*0.01);


			value2 = startingValue2 + (startingValue2*ref_date2*0.01) +
			(startingValue2*property_type2*0.01)+
			(startingValue2*property_interest2*0.01)+
			(startingValue2*size2*0.01) +
			(startingValue2*shape2*0.01) +
			(startingValue2*topo2*0.01) +
			(startingValue2*frontage2*0.01) +
			(startingValue2*terms_of_sale2*0.01) +
			(startingValue2*corner2*0.01) +
			(startingValue2*prime2*0.01) +
			(startingValue2*hospital2*0.01) +
			(startingValue2*school2*0.01) +
			(startingValue2*mall2*0.01)+
			(startingValue2*public_transpo2*0.01) +
			(startingValue2*zoning2*0.01);


			var comp_percent1 = parseInt(document.getElementById("computation_percent1").value);
			var comp_percent2 = parseInt(document.getElementById("computation_percent2").value);

			var computationText = document.getElementById("computation");

			<!-- computationText.value = parseInt(startingValue0.value)+423;	//WORKS NOW -->


//			computationText.value = value0;	//WORKS NOW
			var computationText1 = document.getElementById("computation1");
			computationText1.value = checked_items.length;
			var computationText2 = document.getElementById("computation2");
			computationText2.value = value2;

			//computationText.value = parseInt(computationText1.value)*(comp_percent1*0.01)
			computationText.value = (parseInt(computationText1.value)*(comp_percent1*0.01)) + (parseInt(computationText2.value)*(comp_percent2*0.01))


			var zonal_value = parseInt(document.getElementById("zonal").value);



			//not working zonal value
			if (parseInt(computationText1.value)*(comp_percent1*0.01) + parseInt(computationText2.value)*(comp_percent2*0.01) > zonal_value)//does not work -> this.zonal)
			{
				computationText.value = (parseInt(computationText1.value)*(comp_percent1*0.01)) + (parseInt(computationText2.value)*(comp_percent2*0.01))
			}
			else {
				computationText.value = zonal_value
			}


			//computationText.value = bools;
			<!-- computationText1.value = startValue2; -->
			<!-- computationText2.setAttribute("value", "Hi") -->

		}

	</script>

	<script>




		//prevent unsaved stuff
        window.addEventListener('beforeunload', function (e) {


			<!-- document.getElementById("property_type_percent1"); -->
			<!-- document.getElementById("property_interest_percent1"); -->
			<!-- document.getElementById("lot_size_percent1"); -->
			<!-- document.getElementById("shape_percent1"); -->
			<!-- document.getElementById("topo_percent1"); -->
			<!-- document.getElementById("frontage_percent1"); -->
			<!-- document.getElementById("terms_of_sale_percent1"); -->
			<!-- document.getElementById("corner_percent1"); -->
			<!-- document.getElementById("prime_percent1"); -->
			<!-- document.getElementById("hospital_percent1"); -->
			<!-- document.getElementById("school_percent1"); -->
			<!-- document.getElementById("mall_percent1"); -->
			<!-- document.getElementById("public_transpo1"); -->
			<!-- document.getElementById("zoning_percent1"); -->



            // TODO complete this
            <!-- if (document.getElementById("property_type_percent2") !== 0 || -->
                <!-- document.getElementById("property_interest_percent2") !== '' || -->
				<!-- document.getElementById("lot_size_percent2") !== '' || -->
				<!-- document.getElementById("shape_percent2") !== '' || -->
				<!-- document.getElementById("topo_percent2") !== '' || -->
				<!-- document.getElementById("frontage_percent2") !== '' || -->
				<!-- document.getElementById("terms_of_sale_percent2") !== '' || -->
				<!-- document.getElementById("corner_percent2") !== '' || -->
				<!-- document.getElementById("prime_percent2") !== '' || -->
				<!-- document.getElementById("hospital_percent2") !== '' || -->
				<!-- document.getElementById("school_percent2") !== '' || -->
				<!-- document.getElementById("mall_percent2") !== '' || -->
				<!-- document.getElementById("public_transpo2") !== '' || -->
				<!-- document.getElementById("zoning_percent2")  !== '') { -->

                // Cancel the event and
                // show alert that the unsaved
                // changes would be lost
                e.preventDefault();
                e.returnValue = '';
            }

	</script>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container">
        <div id="sidebar">
            <div class="sidebar-profile">
                <img src="/temp_pic.png" width="100" height="100">
                <div class="sidebar-profile-text">
                    <p class="sidebar-profile-name">{{this.username}}</p>
                    <p class="sidebar-profile-email"><i>{{this.email}}</i></p>
                    <a href="/logout">Log Out</a>
                </div>
            </div>

            <div class="sidebar-profile-btn">

                <a href="/dashboard">Profile</a>
            </div>
            <div class="sidebar-assignments-btn">

                <a  href="/assignments">Assignments</a>
            </div>
            <div class="sidebar-history-btn">

                <a  href="/history">History</a>
            </div>
            <div class="sidebar-settings-btn">

                <a href="/profile">Settings</a>
            </div>

            <div class="bottom-button">

                <a href="/logout">Logout</a>
            </div>
        </div>

		<div class="openbtn" >
			<a href="#" onclick="openNav()">☰</a>
		</div>

        <div class="main">

			<div class="main-header">
				<h1>Assignment #{{ref_id}}</p>
                <p><b><i>This Assignment has been Reviewed and Approved for Printing.</b></i></p>
				<p>You may now edit the document for printing.</p>
				<br>
            </div>


            <form class="assignments-form">
                <div class="main-table">
					<table>
						<tr>
							<th></th>
							<th>ADMIN</th>
							<th>PANEL</th>
							<th></th>
						</tr>
                        <tr>	<!-- ref_id & creation date -->
                            <th><label for="ref_id">Reference ID</label></th>
                            <td><input name="ref_id" type="text" value="{{this.ref_id}}" readonly></td>
                            <th><label for="created_at">Created On</label></th>
                            <td><input name="created_at" type="text" value="{{this.created_at}}" readonly></td>
                        </tr>

					    <tr>	<!-- type_of_approach & assigned appraiser -->
                            <th><label for="type_of_approach">Type of Approach</label></th>
							<td><input name="type_of_approach" type="text" value="{{this.type_of_approach}}" readonly></td>

                            <th><label for="assigned_to">Appraiser</th>
                            <td><input name="assigned_to" type="text" value="{{this.assigned_to}}" readonly></td>
                        </tr>
                        <tr>	<!-- client_name -->
                            <th><label for="client_name">Client Name</label></th>
                            <td><input name="client_name" type="text" value="{{this.client_l_name}}, {{this.client_f_name}}" readonly></td>

                            <th><label for="appnum">License</label></th>
                            <td><input name="appnum" type="number" value="{{this.appnum}}" readonly></td>
                        </tr>
						<tr>	<!-- lot_brgy,city,region - will serve as general location for interest check of agents/appraisers & zonal value-->
							<th><label for="gen_lot_loc">Lot Location</label></th>
							<td><input name="gen_lot_loc" type="text" value="{{this.lot_brgy}}, {{this.lot_city}}, {{this.lot_region}}" readonly></td>
							<th><label for="zonal">Zonal Value</label></th>
                            <td><input name="zonal" type="number" value="{{this.zonal}}" readonly></td>
						</tr>
						<tr> <!-- title no -->
							<th><label for="title_no">Title No</label></th>
                            <td><input name="title_no" type="text" value="{{this.title_no}}" readonly></td>
						</tr>
						<tr>	<!-- LABELS -->
							<th></th>
							<th>SUBJECT PROPERTY</th>
							<th>COMPARABLE I</th>
							<th>COMPARABLE II</th>
						</tr>

						<tr>	<!-- price_per_sqm -->
                            <th><label for="price_per_sqm">Price per SQM</label></th>
                            <td><input readonly  name="price_per_sqm" id="price_per_sqm" type="number" value="{{this.price_per_sqm}}"></td>
                            <td><input readonly  name="price_per_sqm" id="price_per_sqm1" type="number" value="{{this.price_per_sqm1}}"></td>
                            <td><input readonly  name="price_per_sqm" id="price_per_sqm2" type="number" value="{{this.price_per_sqm2}}"></td>
                        </tr>

                        <tr>	<!-- ref_date -->
                            <th><label for="ref_date">Reference Date</label></th>
                            <td><input readonly  name="ref_date" id="ref_date" type="date" value="{{this.ref_date}}"></td>
                            <td><input readonly  name="ref_date" id="ref_date1" type="date" value="{{this.ref_date1}}">
								<input readonly  class="percentage" id="ref_date_percent1" name="ref_date" type="number" value="{{this.ref_date_percent1}}"> %
							</td>
                            <td><input readonly  name="ref_date" id="ref_date2" type="date" value="{{this.ref_date2}}">
								<input readonly  class="percentage" id="ref_date_percent2" name="ref_date" type="number" value="{{this.ref_date_percent2}}"> %
							</td>
                        </tr>

						<tr>	<!-- lot_loc - agent will write down the specific location here -->
                            <th><label for="lot_loc">Property Location</label></th>
                            <td><input readonly  name="lot_loc" id="lot_loc" type="text" value="{{this.lot_loc}}"></td>
                            <td><input readonly  name="lot_loc" id="lot_loc1" type="text" value="{{this.lot_loc1}}"></td>
                            <td><input readonly  name="lot_loc" id="lot_loc2" type="text" value="{{this.lot_loc2}}"></td>
						</tr>

						<tr>	<!-- property_type -->
                            <th><label for="property_type">Property Type</label></th>
                            <td><input readonly  name="property_type" type="text" value="{{this.property_type}}"></td>
                            <td><input readonly  name="property_type" class="text-next-to-percentage" type="text" value="{{this.property_type1}}">
								<input readonly  class="percentage" id="property_type_percent1" name="property_type" type="number" value="{{this.property_type_percent1}}"> %
							</td>
                            <td><input readonly  name="property_type" class="text-next-to-percentage" type="text" value="{{this.property_type2}}">
								<input readonly  class="percentage" id="property_type_percent2" name="property_type" type="number" value="{{this.property_type_percent2}}"> %
							</td>
                        </tr>
						<tr>	<!-- property_interest -->
                            <th><label for="property_interest" >Property Interest</label></th>
							<td><input readonly name="property_interest" type="text" value="{{this.property_interest}}"></td>
                            <td><input readonly name="property_interest" class="text-next-to-percentage" type="text" value="{{this.property_interest1}}">
								<input readonly class="percentage" id="property_interest_percent1" name="property_interest" type="number" value="{{this.property_interest_percent1}}"> %
							</td>
                            <td><input readonly name="property_interest" class="text-next-to-percentage" type="text" value="{{this.property_interest2}}">
								<input readonly class="percentage" id="property_interest_percent2" name="property_interest" type="number" value="{{this.property_interest_percent2}}"> %
							</td>
                        </tr>

                        <!-- <tr>	<!-- property_images (DECLARE AS MISSING FEATURE NALANG ANG HIRAAAAP) -->
                            <!-- <th><label for="property_images">Property Images</label></th> -->
                            <!-- <td><input readonly  type="file" id="pimg" name="property_images"></td> -->
                            <!-- <td><input readonly  type="file" id="pimg1" name="property_images"></td> -->
                            <!-- <td><input readonly  type="file" id="pimg2" name="property_images"></td> -->
                        <!-- </tr> -->

                        <tr>	<!-- propeerty area size / lot_size -->
                            <th><label for="lot_size">Property Area Size</label></th>
                            <td><input readonly  name="lot_size" type="text" value="{{this.lot_size}}" readonly></td>
                            <td><input readonly  name="lot_size" class="text-next-to-percentage" type="text" value="{{this.lot_size1}}">
								<input readonly  class="percentage" id="lot_size_percent1" name="lot_size" type="number" value="{{this.lot_size_percent1}}"> %
							</td>
                            <td><input readonly  name="lot_size" class="text-next-to-percentage" type="text" value="{{this.lot_size2}}">
								<input readonly  class="percentage" id="lot_size_percent2" name="lot_size" type="number" value="{{this.lot_size_percent2}}"> %
							</td>
                        </tr>

						<tr>	<!-- shape -->
                            <th><label for="shape">Shape</label></th>
                            <td><input readonly  name="shape" type="text" id="shape" value="{{this.shape}}"></td>
                            <td><input readonly  name="shape" type="text" class="text-next-to-percentage" id="shape1" value="{{this.shape1}}">
								<input readonly  class="percentage" id="shape_percent1" name="shape" type="number" value="{{this.shape_percent1}}"> %
							</td>
                            <td><input readonly  name="shape" class="text-next-to-percentage" type="text" id="shape2" value="{{this.shape2}}">
								<input readonly  class="percentage" id="shape_percent2" name="shape" type="number" value="{{this.shape_percent2}}"> %
							</td>
                        </tr>

						<tr>	<!-- topo -->
                            <th><label for="topo">Topography</label></th>
                            <td><input readonly  name="topo" type="text" value="{{this.topo}}"></td>
                            <td><input readonly  name="topo" class="text-next-to-percentage" type="text" value="{{this.topo1}}">
								<input readonly  class="percentage" id="topo_percent1" name="topo" type="number" value="{{this.topo_percent1}}"> %
							</td>
                            <td><input readonly  name="topo" class="text-next-to-percentage" type="text" value="{{this.topo2}}">
								<input readonly  class="percentage" id="topo_percent2" name="topo" type="number" value="{{this.topo_percent2}}"> %
							</td>
                        </tr>

						<tr>	<!-- frontage -->
                            <th><label for="frontage">Frontage</label></th>
                            <td><input readonly  name="frontage" type="text" value="{{this.frontage}}"></td>
                            <td><input readonly  name="frontage" class="text-next-to-percentage" type="text" value="{{this.frontage1}}">
								<input readonly  class="percentage" id="frontage_percent1" name="frontage" type="number" value="{{this.frontage_percent1}}"> %
							</td>
                            <td><input readonly  name="frontage" class="text-next-to-percentage" type="text" value="{{this.frontage2}}">
								<input readonly  class="percentage" id="frontage_percent2" name="frontage" type="number" value="{{this.frontage_percent2}}"> %
							</td>
                        </tr>

						<tr>	<!-- terms_of_sale -->
                            <th><label for="terms_of_sale">Terms of Sale</label></th>
                            <td><input readonly  name="terms_of_sale" type="text" value="{{this.terms_of_sale}}"></td>
                            <td><input readonly  name="terms_of_sale" class="text-next-to-percentage" type="text" value="{{this.terms_of_sale1}}">
								<input readonly  class="percentage" id="terms_of_sale_percent1" name="terms_of_sale" type="number" value="{{this.terms_of_sale_percent1}}"> %
							</td>
                            <td><input readonly  name="terms_of_sale" class="text-next-to-percentage" type="text" value="{{this.terms_of_sale2}}">
								<input readonly  class="percentage" id="terms_of_sale_percent2" name="terms_of_sale" type="number" value="{{this.terms_of_sale_percent2}}"> %
							</td>
                        </tr>

                        <tr>	<!-- Corner lot -->
                                        <th><label for="corner" >Is Corner Lot?</label></th>
                          <td>
                            <select id="corner" name="corner">
                              <option value="Yes">Yes</option>
                              <option value="No">No</option>
                            </select>
                          </td>
                          <td>
                            <select id="corner1" name="corner">
                              <option value="Yes">Yes</option>
                              <option value="No">No</option>
                            </select>
                            <input readonly class="percentage" id="corner_percent1" name="corner" type="number" value="{{this.corner_percent1}}"> %
                          </td>
                          <td>
                            <select id="corner2" name="corner">
                              <option value="Yes">Yes</option>
                              <option value="No">No</option>
                            </select>
                            <input readonly class="percentage" id="corner_percent2" name="corner" type="number" value="{{this.corner_percent2}}"> %
                          </td>
                                    </tr>

                        <tr>	<!-- Prime lot -->
                                        <th><label for="prime" >Is Prime Lot?</label></th>
                          <td>
                            <select id="prime" name="prime">
                              <option value="Yes">Yes</option>
                              <option value="No">No</option>
                            </select>
                          </td>
                          <td>
                            <select id="prime1" name="prime">
                              <option value="Yes">Yes</option>
                              <option value="No">No</option>
                            </select>
                            <input readonly class="percentage" id="prime_percent1" name="prime" type="number" value="{{this.prime_percent1}}"> %
                          </td>
                          <td>
                            <select id="prime2" name="prime">
                              <option value="Yes">Yes</option>
                              <option value="No">No</option>
                            </select>
                            <input readonly class="percentage" id="prime_percent2" name="prime" type="number" value="{{this.prime_percent2}}"> %
                          </td>
                                    </tr>


                        <tr>	<!-- hospitals -->
                                        <th><label for="hospital" >Has nearby Hospital(s)?</label></th>
                          <td>
                            <select id="hospital" name="hospital">
                              <option value="near">Near</option>
                              <option value="relatively-near">Relatively Near</option>
                              <option value="far">Far</option>
                            </select>
                          </td>
                          <td>
                            <select id="hospital1" name="hospital">
                              <option value="near">Near</option>
                              <option value="relatively-near">Relatively Near</option>
                              <option value="far">Far</option>
                            </select>
                            <input readonly class="percentage" id="hospital_percent1" name="hospital" type="number" value="{{this.hospital_percent1}}"> %
                          </td>
                          <td>
                            <select id="hospital2" name="hospital">
                              <option value="near">Near</option>
                              <option value="relatively-near">Relatively Near</option>
                              <option value="far">Far</option>
                            </select>
                            <input readonly class="percentage" id="hospital_percent2" name="hospital" type="number" value="{{this.hospital_percent2}}"> %
                          </td>
                                    </tr>

                        <tr>	<!-- school -->
                                        <th><label for="school" >Has nearby School(s)?</label></th>
                          <td>
                            <select id="school" name="school">
                              <option value="near">Near</option>
                              <option value="relatively-near">Relatively Near</option>
                              <option value="far">Far</option>
                            </select>
                          </td>
                          <td>
                            <select id="school1" name="school">
                              <option value="near">Near</option>
                              <option value="relatively-near">Relatively Near</option>
                              <option value="far">Far</option>
                            </select>
                            <input readonly class="percentage" id="school_percent1" name="school" type="number" value="{{this.school_percent1}}"> %
                          </td>
                          <td>
                            <select id="school2" name="school">
                              <option value="near">Near</option>
                              <option value="relatively-near">Relatively Near</option>
                              <option value="far">Far</option>
                            </select>
                            <input readonly class="percentage" id="school_percent2" name="school" type="number" value="{{this.school_percent2}}"> %
                          </td>
                                    </tr>

                        <tr>	<!-- mall -->
                                        <th><label for="mall" >Has nearby Shop/Mall(s)?</label></th>
                          <td>
                            <select id="mall" name="mall">
                              <option value="near">Near</option>
                              <option value="relatively-near">Relatively Near</option>
                              <option value="far">Far</option>
                            </select>
                          </td>
                          <td>
                            <select id="mall1" name="mall">
                              <option value="near">Near</option>
                              <option value="relatively-near">Relatively Near</option>
                              <option value="far">Far</option>
                            </select>
                            <input readonly class="percentage" id="mall_percent1" name="mall" type="number" value="{{this.mall_percent1}}"> %
                          </td>
                          <td>
                            <select id="mall2" name="mall">
                              <option value="near">Near</option>
                              <option value="relatively-near">Relatively Near</option>
                              <option value="far">Far</option>
                            </select>
                            <input readonly class="percentage" id="mall_percent2" name="mall" type="number" value="{{this.mall_percent2}}"> %
                          </td>
                                    </tr>
              <tr>	<!-- public transpo -->
                              <th><label for="public_transpo" >Access to Main Public Transport</label></th>
                <td>
                  <select id="public_transpo" name="public_transpo">
                    <option value="near">Near</option>
                    <option value="relatively-near">Relatively Near</option>
                    <option value="far">Far</option>
                  </select>
                </td>
                <td>
                  <select id="public_transpo1" name="public_transpo">
                    <option value="near">Near</option>
                    <option value="relatively-near">Relatively Near</option>
                    <option value="far">Far</option>
                  </select>
                  <input readonly class="percentage" id="public_transpo_percent1" name="public_transpo" type="number" value="{{this.public_transpo_percent1}}"> %
                </td>
                <td>
                  <select id="public_transpo2" name="public_transpo">
                    <option value="near">Near</option>
                    <option value="relatively-near">Relatively Near</option>
                    <option value="far">Far</option>
                  </select>
                  <input readonly class="percentage" id="public_transpo_percent2" name="public_transpo" type="number" value="{{this.public_transpo_percent2}}"> %
                </td>
                          </tr>
						<tr>	<!-- improvement -->
                            <th><label>Has Improvement(s)?</label></th>
                            <td><input readonly  name="improvement" type="checkbox" value="{{this.improvement}}"></td>
                            <td><input readonly  name="improvement" type="checkbox" value="{{this.improvement1}}">
								<input readonly  class="percentage" id="improvement_percent1" name="improvement" type="number" value="{{this.improvement_percent1}}"> %
							</td>
                            <td><input readonly  name="improvement" type="checkbox" value="{{this.improvement2}}">
								<input readonly  class="percentage" id="improvement_percent2" name="improvement" type="number" value="{{this.improvement_percent2}}"> %
							</td>
						</tr>

						<tr>	<!-- zoning -->
                            <th><label for="zoning">Zoning</label></th>
                            <td><input readonly  name="zoning" id="zoning" type="text" value="{{this.zoning}}"></td>
                            <td><input readonly  name="zoning" id="zoning1" class="text-next-to-percentage" type="text" value="{{this.zoning1}}">
								<input readonly  class="percentage" id="zoning_percent1" name="zoning" type="number" value="{{this.zoning_percent1}}"> %
							</td>
                            <td><input readonly  name="zoning" name="zoning2" class="text-next-to-percentage" type="text" value="{{this.zoning2}}">
								<input readonly  class="percentage" id="zoning_percent2" name="zoning" type="number" value="{{this.zoning_percent2}}"> %
							</td>
                        </tr>
						<tr>
							<th></th>
							<th></th>
							<th>ADJUSTED VALUE & WEIGHT</th>
							<th>ADJUSTED VALUE & WEIGHT</th>
						</tr>





						<tr>
                            <th><label for="computation">Computation</label></th>
                            <td><input readonly  name="computation" value="{{this.computation}}" id="computation" type="text"></td>
                            <td><input readonly  name="computation" class="text-next-to-percentage" value="{{this.computation1}}" id="computation1" type="text">
								<input readonly  class="percentage" id="computation_percent1" value="{{this.computation_percent1}}" name="computation" type="number"> %
							</td>
                            <td><input readonly  name="computation" class="text-next-to-percentage" value="{{this.computation2}}" id="computation2" type="text">
								<input readonly  class="percentage" id="computation_percent2"  value="{{this.computation_percent2}}" name="computation" type="number"> %
							</td>
                        </tr>
                    </table>
                </div>

				<div id="main-table-bottom">
					<button type="submit" method="post" name="create-doc" formaction="/create-doc/{{ref_id}}">Edit Document</button>
					<br><br><br>
				</div>
            </form>
        </div>
    </div>
</body>
</html>
